# Modelo para la predicción de precios de viviendas en Melbourne

A partir de los datos de una serie de viviendas de Melbourne, con sus respectivos precios de venta, se va a tratar de elegir un modelo para la predicción del precio en función de las características del piso

In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
from sklearn.preprocessing import RobustScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.linear_model import LinearRegression, Lasso, SGDRegressor
from sklearn.kernel_ridge import KernelRidge
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_error
%matplotlib inline
pd.set_option('display.max_columns', 22)

In [2]:
melb_df = pd.read_csv('melb_data.csv')
display(melb_df.head())

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [3]:
display('All columns: ', melb_df.columns)
display('Numeric columns: ', melb_df._get_numeric_data().columns)

'All columns: '

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

'Numeric columns: '

Index(['Unnamed: 0', 'Rooms', 'Price', 'Distance', 'Postcode', 'Bedroom2',
       'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude',
       'Longtitude', 'Propertycount'],
      dtype='object')

In [4]:
#Comprobamos el número de nulos por columna y comparamos con los datos totales
display(melb_df.shape)
display(melb_df.isnull().sum().sort_values(ascending = False))

(18396, 22)

BuildingArea     10634
YearBuilt         9438
CouncilArea       6163
Landsize          4793
Car               3576
Bathroom          3471
Bedroom2          3469
Longtitude        3332
Lattitude         3332
Propertycount        1
Distance             1
Postcode             1
Regionname           1
Date                 0
SellerG              0
Method               0
Price                0
Type                 0
Rooms                0
Address              0
Suburb               0
Unnamed: 0           0
dtype: int64

Comprobamos que para las columnas BuildingArea, YearBuilt y CouncilArea, el total de nulos es muy elevado con respecto al número total de registros, por lo que desestimamos esas columnas y eliminamos el resto de filas que contienen nulos. También se elimina la columna Unnamed: 0.

A continuación comprobamos los registros que nos quedan:

In [5]:
melb_df.drop(['Unnamed: 0','BuildingArea', 'YearBuilt', 'CouncilArea'], axis = 1, inplace = True)
melb_df.dropna(inplace = True)
display(melb_df.shape)
display(melb_df.isnull().sum().sort_values(ascending = False))

(13518, 18)

Propertycount    0
Regionname       0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
Lattitude        0
Longtitude       0
Suburb           0
dtype: int64

In [6]:
display(melb_df.Suburb.unique())
display(melb_df.Type.unique())
display(melb_df.Method.unique())
display(melb_df.Postcode.unique())
display(melb_df.Regionname.unique())

array(['Abbotsford', 'Airport West', 'Albert Park', 'Alphington',
       'Altona', 'Altona North', 'Armadale', 'Ascot Vale', 'Ashburton',
       'Ashwood', 'Avondale Heights', 'Balaclava', 'Balwyn',
       'Balwyn North', 'Bentleigh', 'Bentleigh East', 'Box Hill',
       'Braybrook', 'Brighton', 'Brighton East', 'Brunswick',
       'Brunswick West', 'Bulleen', 'Burwood', 'Camberwell', 'Canterbury',
       'Carlton North', 'Carnegie', 'Caulfield', 'Caulfield North',
       'Caulfield South', 'Chadstone', 'Clifton Hill', 'Coburg',
       'Coburg North', 'Collingwood', 'Doncaster', 'Eaglemont',
       'Elsternwick', 'Elwood', 'Essendon', 'Essendon North', 'Fairfield',
       'Fitzroy', 'Fitzroy North', 'Flemington', 'Footscray', 'Glen Iris',
       'Glenroy', 'Gowanbrae', 'Hadfield', 'Hampton', 'Hampton East',
       'Hawthorn', 'Heidelberg Heights', 'Heidelberg West', 'Hughesdale',
       'Ivanhoe', 'Kealba', 'Keilor East', 'Kensington', 'Kew',
       'Kew East', 'Kooyong', 'Maidstone', 'Malvern', 'Malvern East',
       'Maribyrnong', 'Melbourne', 'Middle Park', 'Mont Albert',
       'Moonee Ponds', 'Moorabbin', 'Newport', 'Niddrie',
       'North Melbourne', 'Northcote', 'Oak Park', 'Oakleigh South',
       'Parkville', 'Pascoe Vale', 'Port Melbourne', 'Prahran', 'Preston',
       'Reservoir', 'Richmond', 'Rosanna', 'Seddon', 'South Melbourne',
       'South Yarra', 'Southbank', 'Spotswood', 'St Kilda', 'Strathmore',
       'Sunshine', 'Sunshine North', 'Sunshine West', 'Surrey Hills',
       'Templestowe Lower', 'Thornbury', 'Toorak', 'Viewbank', 'Watsonia',
       'West Melbourne', 'Williamstown', 'Williamstown North', 'Windsor',
       'Yallambie', 'Yarraville', 'Aberfeldie', 'Bellfield',
       'Brunswick East', 'Burnley', 'Campbellfield', 'Carlton',
       'East Melbourne', 'Essendon West', 'Fawkner', 'Hawthorn East',
       'Heidelberg', 'Ivanhoe East', 'Jacana', 'Kingsbury', 'Kingsville',
       'Murrumbeena', 'Ormond', 'West Footscray', 'Albion', 'Brooklyn',
       'Glen Huntly', 'Oakleigh', 'Ripponlea', 'Cremorne', 'Docklands',
       'South Kingsville', 'Strathmore Heights', 'Travancore',
       'Caulfield East', 'Seaholme', 'Keilor Park', 'Gardenvale',
       'Princes Hill', 'Bayswater', 'Bayswater North', 'Beaumaris',
       'Berwick', 'Boronia', 'Briar Hill', 'Broadmeadows', 'Bundoora',
       'Burnside Heights', 'Burwood East', 'Cairnlea', 'Caroline Springs',
       'Cheltenham', 'Craigieburn', 'Cranbourne', 'Croydon', 'Dandenong',
       'Dandenong North', 'Diamond Creek', 'Dingley Village',
       'Doncaster East', 'Donvale', 'Doreen', 'Eltham', 'Epping',
       'Forest Hill', 'Frankston', 'Frankston North', 'Frankston South',
       'Gisborne', 'Gladstone Park', 'Greensborough', 'Hallam',
       'Healesville', 'Highett', 'Hillside', 'Huntingdale',
       'Keilor Downs', 'Keilor Lodge', 'Keysborough', 'Kings Park',
       'Lalor', 'Lower Plenty', 'Melton', 'Mernda', 'Mill Park',
       'Mitcham', 'Montmorency', 'Mordialloc', 'Mount Waverley',
       'Narre Warren', 'Nunawading', 'Oakleigh East', 'Parkdale',
       'Point Cook', 'Ringwood East', 'Rockbank', 'Rowville',
       'Sandringham', 'Seaford', 'Skye', 'South Morang', 'Springvale',
       'St Albans', 'Sunbury', 'Tarneit', 'Taylors Hill', 'Taylors Lakes',
       'The Basin', 'Thomastown', 'Truganina', 'Tullamarine', 'Vermont',
       'Wantirna', 'Wantirna South', 'Werribee', 'Westmeadows',
       'Williams Landing', 'Wollert', 'Wyndham Vale', 'Black Rock',
       'Blackburn', 'Blackburn North', 'Bonbeach', 'Carrum', 'Chelsea',
       'Clayton', 'Doveton', 'Ferntree Gully', 'Glen Waverley',
       'Greenvale', 'Heathmont', 'Hoppers Crossing', 'McKinnon',
       'Melton South', 'Melton West', 'Mentone', 'Mooroolbark',
       'Mulgrave', 'Ringwood', 'Roxburgh Park', 'Seabrook', 'Templestowe',
       'Vermont South', 'Warrandyte', 'Watsonia North', 'Wheelers Hill',
       'Altona Meadows', 'Blackburn South', 'Carrum Downs',
       'Clayton South', 'Croydon North', 'Langwarrin', 'Noble Park',
       'Notting Hill', 'Ringwood North', 'Sydenham', 'Albanvale',
       'Beaconsfield Upper', 'Chelsea Heights', 'Dallas', 'Deer Park',
       'Eltham North', 'Keilor', 'Meadow Heights', 'Mount Evelyn',
       'North Warrandyte', 'Pakenham', 'Riddells Creek', 'Sandhurst',
       'Scoresby', 'Silvan', 'Aspendale', 'Chirnside Park',
       'Croydon Hills', 'Croydon South', 'Derrimut', 'Diggers Rest',
       'Edithvale', 'Hampton Park', 'Knoxfield', 'St Helena', 'Upwey',
       'Bacchus Marsh', 'Coolaroo', 'Cranbourne North', 'Kilsyth',
       'Montrose', 'Aspendale Gardens', 'Bullengarook', 'Clarinda',
       'Deepdene', 'Delahey', 'Hurstbridge', 'Kurunjang', 'Wonga Park',
       'Endeavour Hills', 'Officer', 'Waterways', 'Ardeer',
       'Beaconsfield', 'Springvale South', 'Yarra Glen', 'Brookfield',
       'Emerald', 'Whittlesea', 'Burnside', 'Attwood', 'Wallan',
       'New Gisborne', 'Plumpton', 'Monbulk'], dtype=object)

array(['h', 'u', 't'], dtype=object)

array(['S', 'SP', 'PI', 'VB', 'SA'], dtype=object)

array([3067., 3042., 3206., 3078., 3018., 3025., 3143., 3032., 3147.,
       3034., 3183., 3103., 3104., 3204., 3165., 3128., 3019., 3186.,
       3187., 3056., 3055., 3105., 3125., 3124., 3126., 3054., 3163.,
       3162., 3161., 3148., 3068., 3058., 3066., 3108., 3084., 3185.,
       3184., 3040., 3041., 3065., 3031., 3011., 3146., 3046., 3043.,
       3188., 3122., 3081., 3166., 3079., 3021., 3033., 3101., 3102.,
       3144., 3012., 3145., 3000., 3127., 3039., 3189., 3015., 3051.,
       3070., 3167., 3052., 3044., 3207., 3181., 3072., 3073., 3121.,
       3205., 3141., 3006., 3182., 3020., 3107., 3071., 3142., 3087.,
       3003., 3016., 3085., 3013., 3057., 3061., 3053., 3002., 3060.,
       3123., 3047., 3083., 3008., 3153., 3193., 3806., 3155., 3088.,
       3023., 3151., 3192., 3064., 3977., 3136., 3175., 3089., 3172.,
       3109., 3111., 3754., 3095., 3076., 3131., 3199., 3200., 3437.,
       3803., 3777., 3190., 3037., 3038., 3173., 3075., 3093., 3337.,
       3082., 3132., 3094., 3195., 3149., 3805., 3030., 3135., 3335.,
       3178., 3191., 3198., 3752., 3171., 3429., 3029., 3154., 3074.,
       3133., 3152., 3049., 3027., 3750., 3024., 3130., 3196., 3197.,
       3168., 3177., 3156., 3150., 3059., 3338., 3194., 3138., 3170.,
       3134., 3028., 3106., 3113., 3201., 3169., 3910., 3174., 3808.,
       3036., 3048., 3796., 3810., 3431., 3179., 3795., 3116., 3427.,
       3976., 3180., 3158., 3340., 3137., 3765., 3099., 3115., 3802.,
       3809., 3022., 3807., 3775., 3782., 3757., 3756., 3438., 3793.])

array(['Northern Metropolitan', 'Western Metropolitan',
       'Southern Metropolitan', 'Eastern Metropolitan',
       'South-Eastern Metropolitan', 'Eastern Victoria',
       'Northern Victoria', 'Western Victoria'], dtype=object)

Comprobamos que hay un número elevado de suburbios y de códigos postales, pero el número de tipos (Type), nombre de región y métodos (method) es más reducido, por lo que consideramos generar columnas dummies para estos campos.

A continuación pasamos a seleccionar las columnas que más nos interesan:

In [7]:
selected_columns = ['Rooms', 'Type', 'Price', 'Method', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'Lattitude', 'Longtitude', 'Regionname']
melb_df = melb_df[selected_columns]

In [8]:
melb_df.head()

,Rooms,Type,Price,Method,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname
0,2,h,1480000.0,S,2.0,1.0,1.0,202.0,-37.7996,144.9984,Northern Metropolitan
1,2,h,1035000.0,S,2.0,1.0,0.0,156.0,-37.8079,144.9934,Northern Metropolitan
2,3,h,1465000.0,SP,3.0,2.0,0.0,134.0,-37.8093,144.9944,Northern Metropolitan
3,3,h,850000.0,PI,3.0,2.0,1.0,94.0,-37.7969,144.9969,Northern Metropolitan
4,4,h,1600000.0,VB,3.0,1.0,2.0,120.0,-37.8072,144.9941,Northern Metropolitan

In [9]:
melb_df = pd.get_dummies(melb_df, columns = ['Type', 'Method', 'Regionname'], drop_first=True)

Una vez que tenemos los datos limpios, con todos los campos en estado numérico, seleccionamos las features y el target, que será el precio del piso.

In [10]:
X = melb_df.drop('Price', axis = 1)
y = melb_df.Price

In [11]:
robust_scaler = RobustScaler()
X_scaled = robust_scaler.fit(X).transform(X)

In [12]:
train_X, val_X, train_y, val_y = train_test_split(X_scaled, y, test_size=0.2)

In [17]:
def rmse_cv(model, X, y, valX, valy):
    modelfit = model.fit(X, y)
    predictions = modelfit.predict(valX)
    error = mean_absolute_error(predictions, valy)/np.mean(valy)*100
    return [modelfit.score(valX, valy), error]

In [18]:
models = [DecisionTreeRegressor(), RandomForestRegressor(),
          LinearRegression(), Lasso(alpha=0.01,max_iter=10000),
          SGDRegressor(max_iter=1000),
          KernelRidge(alpha=0.6,kernel='polynomial',degree = 2,coef0=2.5),
          ]
names = ['DT','RF', 'LR', 'Lasso', 'SGDR','KR']
for model,name in zip(models,names):
    score = rmse_cv(model,train_X, train_y, val_X, val_y)
    print("Error medio absoluto/precio medio de las viviendas: {:.2f}".format(score[1]))
    print("Score obtenido por el modelo {}: {:.6f}".format(name,score[0]))

Error medio absoluto/precio medio de las viviendas: 21.00
Score obtenido por el modelo DT: 0.662430

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Error medio absoluto/precio medio de las viviendas: 16.55
Score obtenido por el modelo RF: 0.799509
Error medio absoluto/precio medio de las viviendas: 29.05
Score obtenido por el modelo LR: 0.521594
Error medio absoluto/precio medio de las viviendas: 29.05
Score obtenido por el modelo Lasso: 0.521594

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:183: FutureWarning: max_iter and tol parameters have been added in SGDRegressor in 0.19. If max_iter is set but tol is left unset, the default value for tol in 0.19 and 0.20 will be None (which is equivalent to -infinity, so it has no effect) but will change in 0.21 to 1e-3. Specify tol to silence this warning.
  FutureWarning)

Error medio absoluto/precio medio de las viviendas: 114.14
Score obtenido por el modelo SGDR: -9.729958
Error medio absoluto/precio medio de las viviendas: 22.64
Score obtenido por el modelo KR: 0.635203

Dado que conseguimos el mejor resultado para el Random Forest, tratamos de refinar el modelo probando distintos parámetros:

In [29]:
n_estimators_list = [10, 100, 300, 500, 1000]
max_depth_list = [2, 5, 10, 20]
min_samples_split_list = [2, 5, 10, 20]

In [28]:
for est in n_estimators_list:
    for depth in max_depth_list:
        score = rmse_cv(RandomForestRegressor(n_estimators = est, max_depth = depth),train_X, train_y, val_X, val_y)
        print("Error medio absoluto/precio medio de las viviendas: {:.2f}".format(score[1]))
        print("Score obtenido por el modelo RF: {:.6f}".format(score[0]))
        print("n_estimators: ", est, "max_depth: ", depth, "\n")

Error medio absoluto/precio medio de las viviendas: 32.98
Score obtenido por el modelo RF: 0.377239
n_estimators:  10 max_depth:  2

Error medio absoluto/precio medio de las viviendas: 23.70
Score obtenido por el modelo RF: 0.636092
n_estimators:  10 max_depth:  5

Error medio absoluto/precio medio de las viviendas: 17.94
Score obtenido por el modelo RF: 0.761888
n_estimators:  10 max_depth:  10

Error medio absoluto/precio medio de las viviendas: 16.59
Score obtenido por el modelo RF: 0.792813
n_estimators:  10 max_depth:  20

Error medio absoluto/precio medio de las viviendas: 32.80
Score obtenido por el modelo RF: 0.384062
n_estimators:  100 max_depth:  2

Error medio absoluto/precio medio de las viviendas: 23.48
Score obtenido por el modelo RF: 0.643784
n_estimators:  100 max_depth:  5

Error medio absoluto/precio medio de las viviendas: 17.44
Score obtenido por el modelo RF: 0.783292
n_estimators:  100 max_depth:  10

Error medio absoluto/precio medio de las viviendas: 15.82
Score obtenido por el modelo RF: 0.815577
n_estimators:  100 max_depth:  20

Error medio absoluto/precio medio de las viviendas: 32.68
Score obtenido por el modelo RF: 0.387804
n_estimators:  300 max_depth:  2

Error medio absoluto/precio medio de las viviendas: 23.46
Score obtenido por el modelo RF: 0.642948
n_estimators:  300 max_depth:  5

Error medio absoluto/precio medio de las viviendas: 17.51
Score obtenido por el modelo RF: 0.780578
n_estimators:  300 max_depth:  10

Error medio absoluto/precio medio de las viviendas: 15.81
Score obtenido por el modelo RF: 0.814193
n_estimators:  300 max_depth:  20

Error medio absoluto/precio medio de las viviendas: 32.79
Score obtenido por el modelo RF: 0.384462
n_estimators:  500 max_depth:  2

Error medio absoluto/precio medio de las viviendas: 23.47
Score obtenido por el modelo RF: 0.642318
n_estimators:  500 max_depth:  5

Error medio absoluto/precio medio de las viviendas: 17.47
Score obtenido por el modelo RF: 0.780301
n_estimators:  500 max_depth:  10

Error medio absoluto/precio medio de las viviendas: 15.78
Score obtenido por el modelo RF: 0.816351
n_estimators:  500 max_depth:  20

Error medio absoluto/precio medio de las viviendas: 32.85
Score obtenido por el modelo RF: 0.382597
n_estimators:  1000 max_depth:  2

Error medio absoluto/precio medio de las viviendas: 23.48
Score obtenido por el modelo RF: 0.642514
n_estimators:  1000 max_depth:  5

Error medio absoluto/precio medio de las viviendas: 17.45
Score obtenido por el modelo RF: 0.781049
n_estimators:  1000 max_depth:  10

Error medio absoluto/precio medio de las viviendas: 15.80
Score obtenido por el modelo RF: 0.814284
n_estimators:  1000 max_depth:  20

Se obtiene el mejor resultado para los valores n_estimators:  300, max_depth:  20, teniendo en cuenta el rendimiento (mayor velocidad de proceso que el último resultado). Cogemos estos parámetros y estudiamos el mejor valor de min_samples_split:

In [31]:
for min_s in min_samples_split:
    score = rmse_cv(RandomForestRegressor(n_estimators = 300, max_depth = 20, min_samples_split = min_s),train_X, train_y, val_X, val_y)
    print("Error medio absoluto/precio medio de las viviendas: {:.2f}".format(score[1]))
    print("Score obtenido por el modelo RF: {:.6f}".format(score[0]))
    print("n_estimators: ", est, "max_depth: ", depth, "\n")

Error medio absoluto/precio medio de las viviendas: 15.85
Score obtenido por el modelo RF: 0.814157
n_estimators:  1000 max_depth:  20

Error medio absoluto/precio medio de las viviendas: 15.83
Score obtenido por el modelo RF: 0.813843
n_estimators:  1000 max_depth:  20

Error medio absoluto/precio medio de las viviendas: 15.98
Score obtenido por el modelo RF: 0.810021
n_estimators:  1000 max_depth:  20

Error medio absoluto/precio medio de las viviendas: 16.32
Score obtenido por el modelo RF: 0.801642
n_estimators:  1000 max_depth:  20

Se comprueba que el valor del score empeora según se aumenta el tamaño mínimo de la muestra, por lo que nos quedamos con el primer valor.