## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(0, 101), 80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(len(set1))

# The length is still 80 because there were not repeated elements in sample_list_1 as specified in the documentation
# of the funcion sample ('Return a k length list of unique elements')

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.sample(range(0, 101), 1)[0])

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(len(set2))

#The length  of the set is not 80 as we have no assured that the elements included in sample_list_2 are unique.

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1 - set2
print(set3)

{2, 3, 5, 6, 7, 10, 12, 13, 15, 16, 19, 20, 22, 25, 35, 38, 39, 43, 49, 52, 54, 59, 61, 63, 67, 71, 74, 79, 83, 85, 86, 88, 89, 96, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2 - set1
print(set4)

{1, 68, 69, 70, 76, 47, 80, 50, 87, 56, 92, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1.intersection(set2)
print(set5)

{4, 8, 9, 11, 14, 17, 18, 21, 23, 24, 26, 27, 28, 30, 31, 32, 33, 36, 37, 40, 41, 42, 44, 45, 46, 48, 51, 53, 55, 57, 58, 60, 66, 73, 75, 78, 81, 84, 91, 93, 94, 95, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
len(set3) + len(set4) + len(set5) == len(set1) + len(set2) - len(set5)

True

#### Create an empty set called `set6`.

In [10]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3)
set6.update(set5)
print(set6)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 63, 66, 67, 71, 73, 74, 75, 78, 79, 81, 83, 84, 85, 86, 88, 89, 91, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
print(set1 == set6 and not(set1 < set6) and not(set1 > set6))

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
set3.union(set4, set5)
set1.union(set2)
print(set3)
print(set1)

{2, 3, 5, 6, 7, 10, 12, 13, 15, 16, 19, 20, 22, 25, 35, 38, 39, 43, 49, 52, 54, 59, 61, 63, 67, 71, 74, 79, 83, 85, 86, 88, 89, 96, 99, 100}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 63, 66, 67, 71, 73, 74, 75, 78, 79, 81, 83, 84, 85, 86, 88, 89, 91, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
print(set1.pop())

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [20]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print('Original elements in set1: ', set1)
for number in list_to_remove:
    if number in set1:
        set1.remove(number)
print('-------------------------------------')
print('Set1 after deletion: ', set1)

Original elements in set1:  {3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 48, 52, 53, 54, 55, 57, 58, 60, 63, 66, 67, 73, 74, 75, 78, 83, 84, 85, 86, 88, 93, 94, 95, 96, 97, 98, 100}
-------------------------------------
Set1 after deletion:  {3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 48, 52, 53, 54, 55, 57, 58, 60, 63, 66, 67, 73, 74, 75, 78, 83, 84, 85, 86, 88, 93, 94, 95, 96, 97, 98, 100}