In [51]:
import pandas as pd
from pymongo import MongoClient
from pandas.io.json import json_normalize
pd.set_option('display.max_columns', 500)
client = MongoClient ('localhost', 27017)
data = client['companies'].companies

In [52]:
meta = ['name', 'category_code', 'number_of_employees', 'founded_year', 'total_money_raised', 'ipo', 'acquisition']

def get_locations(data):
    return json_normalize(data, record_path = 'offices', meta = meta, errors='ignore')

def get_companies_df(data):
    #df = pd.DataFrame(data)
    locations = get_locations(data)
    return(locations)
    
    '''
    gelocs = locations.apply(lambda e: [e["coord"][0],e["coord"][1]], result_type="expand", axis=1)
    clean_df = pd.concat([bks["restaurant_id"],locations[["street","zipcode"]],gelocs], axis=1)
    clean_df.rename({1:"lat",0:"long"}, axis=1, inplace=True)
    return clean_df
    '''

In [53]:
#Primero, analizamos las diferentes categorías disponibles en la totalidad del data set:

categories_df = pd.DataFrame(data.find({}, {"name": 1, "category_code": 1, "_id": 0}))
print(categories_df['category_code'].unique())

['web' 'enterprise' 'software' 'news' 'social' 'network_hosting'
 'games_video' 'music' 'mobile' 'search' 'advertising' 'messaging'
 'security' 'photo_video' 'finance' 'hardware' 'ecommerce' 'travel'
 'public_relations' 'other' 'real_estate' 'semiconductor' 'analytics'
 'health' 'legal' 'sports' 'biotech' 'cleantech' 'education' 'consulting'
 'transportation' None 'hospitality' 'fashion' 'nonprofit' 'nanotech'
 'automotive' 'design' 'manufacturing' 'government' 'local' 'medical']

In [54]:
#Escogemos las categorías que más relación pueden tener con nuestros sector, los videjuegos, y añadimos alguna 
#que pertenezca a sectores de apoyo como la consultoría.

categories = ['web', 'software', 'social', 'network_hosting'
 'games_video', 'photo_video', 'mobile', 'search', 'ecommerce', 'consulting', 'nanotech']

Buscamos todas aquellas que:
- Su fecha de fundación es posterior a 1990.
- Pertenecen a las categorías listadas en el punto anterior.
- Tienen al menos una oficina con coordenadas válidas.
- Cumplen alguna de las siguientes características:
    - Tienen IPO (es decir, han sacado cotización en bolsa).
    - Han sido adquiridos y disponen de un valor de precio de adquisición.
    - Han conseguido levantar inversiones (inversiones no igual a cero).
    - Han realizado inversiones en otras empresas.
    - Su cifra de empleados es inferior a 100.
    - Su fundación es muy reciente: 2010 en adelante.

In [55]:
filtered_data = data.find({
    'founded_year': {'$gte': 1990},
    'offices': {'$exists': True, '$ne': []},
    'offices.latitude': {'$ne': None}, 
    'offices.longitude': {'$ne': None},
    'category_code': {'$in': categories},
    '$or': [
        #{'ipo': {'$ne': None}},
        {'ipo': {'$exists': True, '$ne': None}},
        {'acquisition.price_amount': {'$ne': None}},
        {'investments': {'$ne': []}},
        {'total_money_raised': {'$ne': "$0"}},
        {'number_of_employees': {'$lt': 500}},
        {'founded_year': {'$gte': 2010}}
    ], 
})

display(filtered_data.count())

/usr/local/Cellar/ipython/7.4.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:18: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

3434

In [56]:
target_companies = get_companies_df(filtered_data)

In [57]:
display(target_companies.head())

,address1,address2,city,country_code,description,latitude,longitude,state_code,zip_code,name,category_code,number_of_employees,founded_year,total_money_raised,ipo,acquisition
0,710 - 2nd Avenue,Suite 1100,Seattle,USA,,47.603122,-122.333253,WA,98104,Wetpaint,web,47,2005,$39.8M,NaN,"{'price_amount': 30000000, 'price_currency_cod..."
1,270 Lafayette Street,Suite 505,New York,USA,,40.723731,-73.996431,NY,10012,Wetpaint,web,47,2005,$39.8M,NaN,"{'price_amount': 30000000, 'price_currency_cod..."
2,1601 Willow Road,,Menlo Park,USA,Headquarters,37.416050,-122.151801,CA,94025,Facebook,social,5299,2004,$2.43B,"{'valuation_amount': 104000000000, 'valuation_...",None
3,,,Dublin,IRL,Europe HQ,53.344104,-6.267494,None,,Facebook,social,5299,2004,$2.43B,"{'valuation_amount': 104000000000, 'valuation_...",None
4,340 Madison Ave,,New York,USA,New York,40.755716,-73.979247,NY,10017,Facebook,social,5299,2004,$2.43B,"{'valuation_amount': 104000000000, 'valuation_...",None

In [58]:
target_companies.shape

(3699, 16)

In [59]:
target_companies.describe()

          latitude    longitude  founded_year
count  3699.000000  3699.000000   3699.000000
mean     38.178384   -65.965888   2004.794269
std      14.802998    63.805113      3.723997
min     -41.296454  -159.480262   1990.000000
25%      36.676994  -119.306607   2003.000000
50%      39.568519   -80.837220   2006.000000
75%      44.918213    -3.703250   2007.000000
max      65.056601   175.260400   2013.000000

In [60]:
target_companies['loc'] = list(zip(target_companies['longitude'], target_companies['latitude']))
#Método alternativo
'''
target_companies['loc'] = target_companies.apply(lambda row: (row['longitude'], row['latitude']), axis = 1)
'''
display(target_companies.head())

,address1,address2,city,country_code,description,latitude,longitude,state_code,zip_code,name,category_code,number_of_employees,founded_year,total_money_raised,ipo,acquisition,loc
0,710 - 2nd Avenue,Suite 1100,Seattle,USA,,47.603122,-122.333253,WA,98104,Wetpaint,web,47,2005,$39.8M,NaN,"{'price_amount': 30000000, 'price_currency_cod...","(-122.333253, 47.603122)"
1,270 Lafayette Street,Suite 505,New York,USA,,40.723731,-73.996431,NY,10012,Wetpaint,web,47,2005,$39.8M,NaN,"{'price_amount': 30000000, 'price_currency_cod...","(-73.9964312, 40.7237306)"
2,1601 Willow Road,,Menlo Park,USA,Headquarters,37.416050,-122.151801,CA,94025,Facebook,social,5299,2004,$2.43B,"{'valuation_amount': 104000000000, 'valuation_...",None,"(-122.151801, 37.41605)"
3,,,Dublin,IRL,Europe HQ,53.344104,-6.267494,None,,Facebook,social,5299,2004,$2.43B,"{'valuation_amount': 104000000000, 'valuation_...",None,"(-6.267494, 53.344104)"
4,340 Madison Ave,,New York,USA,New York,40.755716,-73.979247,NY,10017,Facebook,social,5299,2004,$2.43B,"{'valuation_amount': 104000000000, 'valuation_...",None,"(-73.9792469, 40.7557162)"

In [61]:
target_companies.to_json("target_companies.json", orient="records", lines=True)
target_companies.to_csv("target_companies.csv")

In [64]:
target = client['companies'].target_companies
nearLocation = {
    "lng": 51.51692,
    "lat": -0.089732
}

prospects = pd.DataFrame(target.find({
    "loc": {
     "$near": {
       "$geometry": {
          "type": "Point" ,
          "coordinates": [ nearLocation["lat"] , nearLocation["lng"] ]
       },
       "$maxDistance": 10000, # In meters
     }
   }
}))
display(prospects)

,_id,acquisition,address1,address2,category_code,city,country_code,description,founded_year,ipo,latitude,loc,longitude,name,number_of_employees,state_code,total_money_raised,zip_code
0,5cda96da3370c10c1579b721,None,1 Angel Court,,web,London,GBR,,2007,None,51.514735,"[-0.0874239, 51.5147349]",-0.087424,Greenvoice,3.0,None,$0,EC2R 7HJ
1,5cda96da3370c10c1579ac12,None,107 Cheapside,,web,London,GBR,London Office,2007,None,51.514157,"[-0.0934254, 51.5141566]",-0.093425,Zemanta,30.0,None,$7.35M,EC2V 6DY
2,5cda96da3370c10c1579b3b4,None,16 St Martin's Le Grand,,software,London,GBR,London Office,2002,None,51.515768,"[-0.0970749, 51.5157682]",-0.097075,BrightTALK,NaN,None,$20.5M,EC1A 4NA
3,5cda96da3370c10c1579b6f5,None,33-37 Charterhouse Sq.,,web,London,GBR,London Office,2008,None,51.520327,"[-0.0994596, 51.5203268]",-0.099460,Zookel,10.0,None,$0,EC1M 6EA
4,5cda96da3370c10c1579b447,"{'price_amount': None, 'price_currency_code': ...","11 Curtain Road,","2nd Floor, THe Courtyard Building",ecommerce,London,GBR,LaunchPad,2009,None,51.519613,"[-0.1020265, 51.5196135]",-0.102027,Shutl,10.0,None,£7.66M,EC2A3LT
5,5cda96da3370c10c1579ab66,None,17 Blossom Street,,web,London,GBR,HQ,2007,None,51.521116,"[-0.0778345, 51.5211159]",-0.077835,Tipped,2.0,None,$0,E1 6PL
6,5cda96da3370c10c1579ac08,None,57-63 Scrutton Street,,web,London,GBR,London Office,2007,None,51.523537,"[-0.0808503, 51.5235368]",-0.080850,HelloTxt,2.0,None,$0,EC2A 4PF
7,5cda96da3370c10c1579b795,None,6 Snow Hill,,software,London,GBR,TestPlant,2008,None,51.517356,"[-0.1037742, 51.517356]",-0.103774,Testplant,50.0,None,$2.56M,EC1A 2AY
8,5cda96da3370c10c1579b1e8,None,77 Leonard Street,,web,London,GBR,London,2002,None,51.524662,"[-0.0830772, 51.5246619]",-0.083077,Solid State Group,18.0,None,$0,EC2A 4QS
9,5cda96da3370c10c1579b718,None,61 Charlotte Road,,search,London,GBR,Headquarters,2006,None,51.524662,"[-0.0830772, 51.5246619]",-0.083077,Tug,25.0,None,$0,EC2A 3QT
10,5cda96da3370c10c1579ab35,"{'price_amount': 13700000, 'price_currency_cod...",Victoria House,64 Paul Street,web,London,GBR,,2006,None,51.524860,"[-0.0836311, 51.5248598]",-0.083631,amiando,76.0,None,$0,EC2A 4NA
11,5cda96da3370c10c1579b4e1,None,9 Northburgh Street,,software,London,GBR,Concrete,2003,None,51.523226,"[-0.1010535, 51.5232255]",-0.101054,Concrete,10.0,None,$0,EC1V 0AH
12,5cda96da3370c10c1579b601,None,46-47 Britton Street,,search,London,GBR,Headquarters,2007,None,51.521150,"[-0.1036021, 51.5211504]",-0.103602,Ayima,17.0,None,$0,EC1M 5UJ
13,5cda96da3370c10c1579ab33,"{'price_amount': None, 'price_currency_code': ...",4 Elder Street,,web,London,GBR,,2007,None,51.522007,"[-0.0766034, 51.5220072]",-0.076603,Bragster,10.0,None,$3.5M,E1 6BT
14,5cda96da3370c10c1579b736,None,5th Floor,6 Briset Street,web,London,GBR,Enternships HQ,2009,None,51.521528,"[-0.1038219, 51.5215279]",-0.103822,Enternships,15.0,None,$0,EC1M 5NR
15,5cda96da3370c10c1579aa12,None,24 Greville Street,,search,London,GBR,,2007,None,51.519579,"[-0.1065551, 51.5195795]",-0.106555,FAROO,5.0,None,$0,EC1N 8SS
16,5cda96da3370c10c1579b77a,None,"Centre Point, 4th Floor",103 New Oxford Street,social,London,GBR,,2006,None,51.527236,"[-0.0956262, 51.5272363]",-0.095626,Flirtomatic,NaN,None,$9M,WC1A 1DD
17,5cda96da3370c10c1579ac6e,None,82 Clerkenwell Road,,search,London,GBR,,2006,None,51.529067,"[-0.0949082, 51.5290669]",-0.094908,Nestoria,13.0,None,$0,EC1M 5RF
18,5cda96da3370c10c1579ab5e,None,4 Pear Tree Court,Clerkenwell,web,London,GBR,None,1996,None,51.523676,"[-0.107843, 51.523676]",-0.107843,cScape,70.0,None,$0,EC1R 0DS
19,5cda96da3370c10c1579af0b,None,24-28a Hatton Wall,,web,London,GBR,The Tin Ltd,2001,None,51.521290,"[-0.10978, 51.52129]",-0.109780,The Tin,10.0,None,$0,EC1N 8JH
20,5cda96da3370c10c1579b73a,"{'price_amount': 43400000, 'price_currency_cod...","Floor 6, 236 Gray's Inn Road",,ecommerce,London,GBR,,2000,None,51.518612,"[-0.111509, 51.5186118]",-0.111509,BioMed Central,NaN,None,$0,WC1X 8HL
21,5cda96da3370c10c1579b45d,None,56 Ayres Street,,mobile,London,GBR,,2001,None,51.503753,"[-0.0965536, 51.503753]",-0.096554,Masabi,NaN,None,$8.8M,SE1 1EU
22,5cda96da3370c10c1579b1a6,None,Lyon House,160-166 Borough High Street,social,London,GBR,Headquarters,2007,None,51.502767,"[-0.0925694, 51.5027669]",-0.092569,SocialGO,12.0,None,$3M,SE1 1LB
23,5cda96da3370c10c1579b06a,None,12-16 Laystall Street,Clerkenwell,software,London,GBR,The Lightwell,1999,None,51.522160,"[-0.111242, 51.52216]",-0.111242,MetaPack,30.0,None,$20.5M,EC1R 4PF
24,5cda96da3370c10c1579afa4,None,12-16 Laystall Street,Clerkenwell,software,London,GBR,The Lightwell,1999,None,51.522160,"[-0.111242, 51.52216]",-0.111242,MetaPack,30.0,None,$20.5M,EC1R 4PF
25,5cda96da3370c10c1579aded,None,11 Marshalsea Road,,web,London,GBR,London,2007,None,51.501651,"[-0.0944873, 51.5016514]",-0.094487,Wigadoo,5.0,None,$0,SE1 1EN
26,5cda96da3370c10c1579b7cf,None,,,mobile,London,GBR,198 High Holborn,2009,None,51.517742,"[-0.1165365, 51.5177425]",-0.116537,acrossair,6.0,None,$0,WC1V 7BD
27,5cda96da3370c10c1579b713,None,145-157 St John Street,,search,London,GBR,London Office,2008,None,51.522076,"[-0.1153003, 51.5220763]",-0.115300,Padz,5.0,None,$0,EC1V 4PY
28,5cda96da3370c10c1579b400,None,C/O DEREK ROTHERA & COMPANY UNITS 15 & 16,7 WENLOCK ROAD,software,London,GBR,Emoshape ltd,2007,None,51.512383,"[-0.1158832, 51.5123833]",-0.115883,Emoshape,10.0,None,$0,N1 7SL
29,5cda96da3370c10c1579aec5,None,"1st Floor, Holborn Gate,","330 High Holborn,",software,London,GBR,Head Office,1998,None,51.500395,"[-0.083743, 51.500395]",-0.083743,Advorto,14.0,None,$0,WC1V 7QT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,5cda96da3370c10c1579b15c,None,1 Berkeley Street,,consulting,,GBR,London,2001,None,51.507404,"[-0.142322, 51.507404]",-0.142322,AMF Ventures,18.0,None,$0,w1j 8dj
75,5cda96da3370c10c1579b5e1,None,72 New Bond Street,,web,London,GBR,London Office,2009,None,51.513775,"[-0.1459893, 51.5137747]",-0.145989,Tweenjo,2.0,None,$0,W1S 1RR
76,5cda96da3370c10c1579b100,None,Berkeley Square House,,search,London,GBR,London Office,2007,None,51.509905,"[-0.145438, 51.509905]",-0.145438,SearchSalad,15.0,None,$0,W1
77,5cda96da3370c10c1579ae59,None,Brook House,229-243 Shepherds Bush Rd,mobile,London,GBR,Vonage UK,2001,"{'valuation_amount': None, 'valuation_currency...",51.512915,"[-0.1471, 51.512915]",-0.147100,Vonage,1500.0,None,$0,W6 7AN
78,5cda96da3370c10c1579ad33,None,18 Bentinck Street,,web,London,GBR,None,2008,None,51.517076,"[-0.150417, 51.517076]",-0.150417,Worship Journal,3.0,None,$0,W1U 2AR
79,5cda96da3370c10c1579b6a7,None,123 Buckingham Palace Road,,web,London,GBR,Zensify,2006,None,51.494076,"[-0.146659, 51.4940757]",-0.146659,Zensify,11.0,None,$0,SW1W 9SR
80,5cda96da3370c10c1579ac76,None,123 Buckingham Palace Road,,ecommerce,London,GBR,None,2006,None,51.494067,"[-0.146665, 51.494067]",-0.146665,ProcServe,55.0,None,$0,SW1W 9SR
81,5cda96da3370c10c1579ac94,"{'price_amount': 2500000, 'price_currency_code...",No. 9,6 Portal Way,web,London,GBR,LOVEFiLM International,2003,None,51.524129,"[-0.1585816, 51.5241294]",-0.158582,LOVEFiLM,NaN,None,$0,W3 6RU
82,5cda96da3370c10c1579b49f,None,Unit 102,72 Great Titchfield St,consulting,London,GBR,,2008,None,51.519772,"[-0.1597092, 51.519772]",-0.159709,Neutron Creations,2.0,None,$0,W1W 7QW
83,5cda96da3370c10c1579aa40,None,48 Charlotte St,,software,London,GBR,,2003,None,51.542360,"[-0.149522, 51.54236]",-0.149522,Jiglu,3.0,None,$800k,W1T 2NS
84,5cda96da3370c10c1579b6f9,None,35 Ballards Lane,,web,London,GBR,World Headquarters,2009,None,51.539591,"[-0.1525048, 51.5395914]",-0.152505,Bar Exchange,10.0,None,$0,London N3 1XW
85,5cda96da3370c10c1579aa04,None,88 Crawford Street,,web,London,GBR,,2007,None,51.519204,"[-0.1626103, 51.5192042]",-0.162610,Wonga,NaN,None,$101M,W1H 2EJ
86,5cda96da3370c10c1579ae0c,None,6 Erskine Road,"First Floor, Block 3",mobile,London,GBR,HQ,2006,None,51.541937,"[-0.157333, 51.541937]",-0.157333,MyMart,4.0,None,$0,NW3 3AJ
87,5cda96da3370c10c1579ae90,None,,,search,London,GBR,,2007,None,51.476169,"[-0.1400366, 51.4761694]",-0.140037,Snagsta,4.0,None,£104k,SW8 3NP
88,5cda96da3370c10c1579b5ed,None,3 Monnery Road,,web,London,GBR,Head office,2009,None,51.560395,"[-0.1365725, 51.5603951]",-0.136573,Space Spare,2.0,None,$0,N19 5SA
89,5cda96da3370c10c1579ae91,None,Imperial College,South Kensington Campus,web,London,GBR,London Office,2008,None,51.498067,"[-0.175393, 51.498067]",-0.175393,Kappa Prime,2.0,None,$0,sw7 2az
90,5cda96da3370c10c1579acd6,None,"Unit 4.01, Tea Building",56 Shoreditch High Street,web,London,GBR,,2003,None,51.471958,"[-0.147646, 51.471958]",-0.147646,Mind Candy,NaN,None,$10M,E1 6JJ
91,5cda96da3370c10c1579b6af,"{'price_amount': 350000, 'price_currency_code'...",Winchester House,259-269 Old Marylebone Road,ecommerce,London,GBR,,2005,None,51.543337,"[-0.172364, 51.543337]",-0.172364,Autoquake,100.0,None,$39.9M,NW1 5RA
92,5cda96da3370c10c1579aeb5,None,Google Campus London,4-5 Bonhill Street,consulting,London,GBR,Main Headquaters,2008,None,51.517810,"[-0.184358, 51.51781]",-0.184358,Dynamic50,10.0,None,$0,EC2A 4BX
93,5cda96da3370c10c1579b5aa,None,,,web,London,GBR,Headquarters,2009,None,51.520668,"[-0.1852079, 51.5206682]",-0.185208,TV Pixie,2.0,None,€50k,NW6 1TE
94,5cda96da3370c10c1579b22b,None,94 St Alphonsus Road,,software,London,GBR,London Office,2007,None,51.459825,"[-0.1364995, 51.4598249]",-0.136499,SLevolution,4.0,None,$0,SW4 7AT
95,5cda96da3370c10c1579b724,None,,,web,London,GBR,"London, GBR",2007,None,51.579373,"[-0.1162418, 51.5793731]",-0.116242,GetItWithMe,5.0,None,$0,N1 6NG
96,5cda96da3370c10c1579ae63,None,10 Hamilton Road,Sidcup,web,Kent,GBR,,2007,None,51.484638,"[0.001682, 51.484638]",0.001682,Buy Our Honeymoon,2.0,None,$0,DA15 7HB
97,5cda96da3370c10c1579b46a,None,PO Box 42668,,mobile,London,GBR,,2008,None,51.491864,"[-0.1886272, 51.4918635]",-0.188627,AfterWorkDeals,1.0,None,$0,SW5 0UY
98,5cda96da3370c10c1579b5d2,None,,,web,,GBR,,2007,None,51.545091,"[-0.1867769, 51.5450909]",-0.186777,Folia,2.0,None,$0,NW6
99,5cda96da3370c10c1579b59e,None,104 Tennyson Road,,web,London,GBR,London Office,2008,None,51.538289,"[-0.2023958, 51.5382894]",-0.202396,upad,8.0,None,$0,NW6 7SB
100,5cda96da3370c10c1579acdf,None,9 Thorpe Close,Portobello Rd,web,London,GBR,None,2010,None,51.518190,"[-0.208979, 51.51819]",-0.208979,Pixsta,NaN,None,£3M,W10 5XL
101,5cda96da3370c10c1579b378,"{'price_amount': None, 'price_currency_code': ...",111 Salusbury Road,,web,London,GBR,London,2008,None,51.537425,"[-0.2065907, 51.5374249]",-0.206591,Demotix,8.0,None,$0,NW6 6RG
102,5cda96da3370c10c1579b769,None,78 Mill Lane,,mobile,London,GBR,,2009,None,51.551469,"[-0.1996418, 51.5514688]",-0.199642,Myhive,6.0,None,$0,NW61JZ
103,5cda96da3370c10c1579ac8e,None,57 St Dunstans Road,,mobile,London,GBR,None,2008,None,51.489160,"[-0.217662, 51.48916]",-0.217662,TutorByTxt,2.0,None,$0,w6 8re

In [20]:
def get_near_offices(row):
    nearLocation = {
        "lng": row["longitude"],
        "lat": row["latitude"]
    }

    prospects = pd.DataFrame(target.find({
        "loc": {
         "$near": {
           "$geometry": {
              "type": "Point" ,
               "coordinates": [ nearLocation["lng"] , nearLocation["lat"] ]
              #"coordinates": [ nearLocation["lat"] , nearLocation["lng"] ]
           },
           "$maxDistance": 2000, # In meters
         }
       }
    }))
    
    return prospects

In [21]:
for index, row in target_companies.iterrows():
    prospects = get_near_offices(row)
    print(len(prospects))

40
57
11
8
112
6
6
114
8
9
10
107
25
6
142
16
20
5
63
137
2
39
20
1
1
39
28
52
7
14
26
7
13
149
10
3
9
183
13
8
16
18
12
1
86
21
18
27
70
135
182
6
33
56
1
35
36
18
4
53
10
121
134
28
15
6
41
20
39
10
3
86
1
1
24
48
10
6
16
33
61
1
2
4
4
139
101
5
4
2
5
4
11
31
2
37
1
92
19
1
20
86
127
2
30
36
22
38
107
1
9
146
1
23
12
39
34
11
24
10
6
37
9
33
33
37
1
4
14
1
33
5
129
133
9
8
41
18
1
14
12
33
55
20
39
33
11
7
1
126
101
1
3
33
33
182
1
4
4
6
16
107
22
12
54
30
33
86
38
1
1
19
29
3
93
1
35
1
127
107
2
3
1
2
1
4
8
2
76
10
14
3
1
1
36
2
12
12
13
33
33
50
13
1
24
1
3
1
7
150
26
1
10
18
1
19
1
1
12
4
135
3
4
1
98
2
4
2
5
36
7
121
14
99
40
5
37
86
2
1
11
1
2
6
1
46
34
1
36
137
12
124
46
8
4
3
57
1
12
10
1
144
1
134
6
143
144
1
49
1
90
15
40
4
1
8
10
18
18
18
5
149
11
2
34
1
19
2
33
23
4
40
24
13
33
7
33
36
33
3
40
10
10
95
13
36
1
4
2
12
5
133
107
36
9
30
1
7
1
2
1
59
51
2
1
13
1
1
33
3
1
1
16
33
33
85
33
169
129
5
9
33
86
36
1
34
138
145
1
124
4
6
118
14
10
1
14
4
9
146
7
1
6
65
123
3
5
7
33
1
33
33
33
7
1
3
30
8
2
37
1
12
9
126
13
33
1
33
1
1
1
2
150
5
1
1
3
10
177
6
11
5
132
35
22
1
37
2
1
1
2
10
3
1
1
5
1
1
12
19
40
1
1
1
5
1
50
2
38
10
1
1
5
3
27
2
2
2
1
1
149
1
2
10
4
8
138
1
1
1
1
86
4
131
2
7
1
1
124
3
109
2
23
3
2
18
5
22
2
9
126
1
17
8
12
4
4
86
19
19
1
61
1
12
36
2
2
4
47
2
7
182
1
2
1
10
9
4
1
1
12
2
2
1
25
2
1
2
29
21
86
14
6
2
15
1
19
4
1
1
18
16
1
2
135
123
24
2
123
35
143
1
46
1
107
2
2
182
5
1
12
1
21
1
9
139
30
46
2
3
15
1
1
1
8
2
3
1
112
45
5
7
3
1
1
2
1
1
4
2
122
17
8
5
1
1
17
2
5
10
5
1
1
1
1
14
1
15
3
126
45
1
1
1
111
1
10
1
7
1
86
3
34
136
2
33
1
1
100
9
9
124
41
13
10
11
1
14
1
2
20
1
133
35
24
10
1
157
4
20
6
86
17
2
9
16
2
2
3
1
33
1
2
1
1
94
8
123
2
3
1
33
6
10
2
2
8
2
3
75
7
4
1
12
8
7
3
1
2
13
130
2
1
1
5
8
1
12
20
1
2
5
2
4
17
15
122
33
34
109
3
6
129
6
7
28
5
1
9
2
13
9
121
4
24
106
37
1
74
1
6
1
2
17
1
6
2
4
70
8
68
1
5
5
18
1
22
37
2
50
1
1
46
102
37
33
1
1
2
9
2
8
13
19
1
142
121
24
19
2
93
45
1
2
1
1
23
4
7
37
3
10
1
1
1
18
7
8
1
1
2
24
98
6
7
6
1
8
1
13
25
1
2
1
1
2
32
3
24
1
1
2
1
1
2
150
86
5
56
8
2
1
1
7
1
8
23
1
3
86
4
5
1
2
17
1
12
8
23
5
3
1
142
6
23
2
1
52
1
2
2
1
16
19
4
5
25
15
1
24
1
9
1
1
1
1
2
1
1
1
16
189
2
3
1
136
2
1
1
20
9
1
2
29
48
7
2
2
36
20
3
1
1
33
37
3
19
1
1
5
8
1
1
1
3
12
13
4
1
1
7
5
1
3
4
3
1
2
1
2
61
112
143
1
26
10
1
1
1
161
1
18
28
18
2
85
13
7
1
1
1
1
1
4
3
12
2
6
3
1
8
2
2
2
2
7
1
7
1
16
1
50
24
121
18
8
135
9
5
5
9
1
86
4
1
2
143
1
1
30
1
3
1
1
6
1
1
1
2
4
37
17
138
24
52
6
1
23
1
39
2
2
1
181
4
1
6
46
9
138
2
1
1
12
3
2
148
5
2
5
2
1
3
4
26
126
10
1
24
122
1
10
1
37
2
1
1
35
34
1
1
1
144
10
1
1
6
1
2
40
1
1
6
15
3
17
1
2
23
12
1
36
5
3
1
2
2
8
107
2
2
2
2
1
12
1
10
6
1
1
37
1
23
19
3
33
9
37
2
4
1
1
11
8
20
3
1
4
18
6
1
19
76
1
122
24
1
39
1
1
2
1
75
1
1
1
13
4
1
1
40
1
1
4
23
59
10
1
4
13
1
13
2
2
1
46
16
1
1
95
3
2
7
2
6
7
126
123
9
1
2
1
23
2
3
1
6
46
1
6
1
1
6
1
22
144
10
6
1
1
2
10
125
2
15
149
2
4
1
5
4
2
1
13
1
37
101
15
124
4
3
24
8
149
1
20
18
14
1
1
1
4
3
2
1
18
3
25
2
2
1
1
1
1
5
9
1
1
56
1
118
157
10
1
149
3
1
1
28
5
6
40
13
1
1
1
1
1
143
1
100
1
13
1
92
1
1
2
1
1
1
1
18
1
3
1
7
40
1
1
1
1
1
18
1
13
1
1
3
48
3
1
30
27
1
1
1
15
86
1
1
6
1
3
3
4
37
2
8
1
2
26
2
4
5
1
1
1
1
33
144
1
11
15
1
37
1
19
37
134
26
1
24
1
20
5
6
5
1
2
37
1
1
2
125
1
2
3
2
1
2
19
1
12
1
146
2
1
1
3
74
3
1
48
152
1
3
2
5
75
6
38
5
1
1
2
6
12
1
2
1
23
5
1
1
3
2
2
1
1
1
1
1
5
2
1
1
2
4
11
19
14
11
6
7
1
15
1
1
2
1
14
2
6
3
1
2
10
35
12
1
1
20
1
1
132
5
86
1
36
1
1
1
1
3
2
1
117
19
2
1
3
18
1
17
3
5
4
1
79
2
1
1
128
1
13
24
2
5
139
18
37
1
9
2
1
2
2
4
1
147
2
18
3
1
20
1
1
1
4
11
1
24
2
1
8
2
35
2
34
10
7
2
86
1
130
3
1
1
38
1
1
7
1
37
1
3
1
2
4
1
30
3
1
1
1
40
124
29
2
2
1
1
5
14
1
2
9
2
1
1
1
1
35
1
1
7
1
11
1
3
1
2
1
1
1
2
2
85
2
123
4
2
2
3
2
11
2
17
4
5
4
3
4
2
17
2
2
3
6
2
17
5
4
10
4
146
15
127
2
4
2
55
40
12
2
17
2
2
3
2
16
2
2
186
67
3
2
12
6
2
3
123
2
8
5
2
9
18
74
2
2
2
7
12
3
2
2
2
144
124
139
2
46
2
11
136
2
17
123
2
2
6
120
25
15
36
3
2
2
12
12
35
2
2
23
132
3
12
5
3
6
6
122
2
2
4
2
115
139
4
34
10
6
8
4
4
8
3
48
92
5
2
2
2
127
23
2
3
2
2
2
2
10
2
4
24
6
2
12
2
6
2
5
2
3
4
4
4
2
2
2
2
56
12
3
8
2
2
24
4
148
4
2
2
4
14
14
3
20
4
2
2
3
5
2
17
19
35
2
5
139
18
75
114
2
85
183
125
2
30
2
3
9
2
113
5
2
123
4
2
2
3
2
11
2
17
4
5
4
3
4
2
17
2
2
3
6
2
17
5
4
10
4
146
15
127
2
4
2
55
40
12
2
17
2
2
3
2
16
2
2
186
67
3
2
12
6
2
3
123
2
8
5
2
9
18
74
2
2
2
7
12
3
2
2
2
144
124
139
2
46
2
11
136
2
17
123
2
2
6
120
25
15
36
3
2
2
12
12
35
2
2
23
132
3
12
5
3
6
6
122
2
2
4
2
115
139
4
34
10
6
8
4
4
8
3
48
92
5
2
2
2
127
23
2
3
2
2
2
2
10
2
4
24
6
2
12
2
6
2
5
2
3
4
4
4
2
2
2
2
56
12
3
8
2
2
24
4
148
4
2
2
4
14
14
3
20
4
2
2
3
5
2
17
19
35
2
5
139
18
75
114
2
85
183
125
2
30
2
3
9
2
113
5
140
3
1
1
3
4
95
11
10
12
1
1
2
3
2
1
4
1
1
6
1
1
1
55
43
1
20
2
6
3
5
1
2
1
1
14
1
17
5
1
1
5
56
1
1
46
6
138
7
4
2
1
18
6
35
1
2
12
2
2
20
20
132
1
4
1
1
1
1
1
13
1
5
8
2
9
53
1
1
7
4
13
5
32
2
7
1
1
73
1
4
1
25
1
4
1
6
24
46
1
1
1
1
12
23
1
1
7
1
1
1
4
18
1
1
1
2
5
1
1
1
1
2
1
1
1
182
9
1
5
182
1
1
1
46
7
6
46
5
2
79
12
4
1
133
38
2
119
1
20
2
8
12
12
1
8
1
130
1
1
8
11
1
2
14
3
28
1
2
1
1
2
1
5
45
37
1
129
2
3
8
2
1
3
1
18
8
1
8
2
1
2
5
3
1
117
81
1
1
6
4
12
1
1
1
1
2
1
1
3
1
14
127
1
1
2
13
5
2
6
1
10
8
7
37
3
1
34
4
1
2
1
15
1
1
1
140
1
1
1
4
30
2
123
2
129
131
1
1
1
1
95
149
1
13
6
11
1
1
20
1
1
1
2
11
8
139
1
1
1
11
1
10
1
1
86
1
22
2
5
1
1
6
1
1
6
128
1
4
26
10
16
13
1
1
1
1
6
8
2
1
5
1
1
24
1
2
3
1
40
1
1
2
6
5
14
1
1
1
2
1
1
3
1
24
1
1
50
1
23
2
9
10
1
2
18
13
1
7
2
39
1
1
3
3
1
121
3
2
1
1
121
1
1
15
3
13
2
102
1
1
4
23
4
1
1
2
2
2
1
1
6
18
1
1
1
1
3
7
6
7
4
1
1
1
26
86
15
17
3
4
127
35
1
12
3
125
2
10
1
1
1
19
4
1
10
13
1
1
17
2
1
1
8
4
2
6
1
11
4
1
2
1
1
1
4
2
1
1
1
10
8
122
1
1
1
1
1
6
6
1
6
1
7
7
1
1
2
3
129
2
1
1
20
2
1
1
35
7
1
2
2
1
3
15
26
1
3
5
2
2
1
2
3
1
20
2
16
1
1
6
1
1
4
1
12
1
10
133
1
2
1
3
2
2
1
1
37
75
17
1
1
123
24
3
122
75
1
2
1
98
1
7
5
5
5
5
1
1
1
5
6
9
1
2
11
5
2
1
86
1
3
118
123
70
1
1
1
41
1
13
3
6
6
10
5
139
2
2
10
40
24
1
1
1
4
1
24
1
1
36
98
5
1
12
12
1
1
1
2
1
1
7
2
2
121
1
1
6
144
1
1
1
1
7
22
48
1
10
11
1
20
40
3
8
2
13
22
7
23
1
55
2
5
1
126
1
1
1
1
2
13
5
1
2
5
20
1
24
11
11
11
1
1
12
21
5
1
1
1
1
1
2
2
2
1
14
1
35
122
86
4
10
1
1
1
14
50
3
1
1
1
2
37
16
2
1
1
1
5
15
17
1
12
134
1
10
5
145
1
1
3
1
1
5
36
7
4
11
1
1
2
5
1
1
18
2
1
1
1
1
1
1
1
1
1
1
20
5
1
8
10
1
5
11
1
144
27
1
7
4
6
1
4
1
1
65
8
1
10
2
1
22
8
1
1
1
1
1
37
1
18
1
10
1
1
18
34
135
122
1
12
2
5
18
2
13
1
5
1
1
1
13
41
1
76
1
1
1
121
1
5
4
1
3
7
126
2
8
11
1
1
1
36
1
7
11
54
1
36
6
1
6
1
2
5
1
4
8
28
1
1
1
8
1
1
5
143
3
2
2
1
13
2
30
1
24
1
6
19
1
38
13
60
1
1
3
5
1
5
12
2
135
1
22
1
4
3
5
3
14
1
14
4
11
1
36
4
5
4
41
26
1
5
3
3
25
1
9
16
2
1
13
18
6
2
1
1
35
3
6
133
1
1
1
179
1
2
2
2
1
2
52
4
57
21
1
1
1
1
18
1
2
1
33
1
5
1
1
4
52
2
2
1
4
37
87
1
11
41
22
122
4
2
1
2
19
10
15
6
22
25
1
34
1
1
12
1
1
2
2
5
1
5
1
2
3
6
17
2
1
5
16
1
1
6
1
3
1
1
1
2
3
4
1
42
7
37
1
6
39
1
6
1
13
2
1
1
1
1
1
1
1
1
1
18
1
1
1
9
2
4
23
1
1
1
2
1
1
2
1
1
2
1
20
1
4
48
1
6
1
2
7
1
81
1
16
5
2
1
125
2
1
1
34
1
1
6
1
1
2
12
43
2
2
6
1
1
1
1
2
13
39
12
2
2
37
3
2
2
103
6
3
2
75
3
1
1
28
1
1
1
8
10
1
1
1
1
1
26
122
1
3
2
1
3
1
126
1
1
3
8
3
1
1
1
1
1
1
1
40
5
115
2
1
12
12
1
122
1
1
1
2
1
37
1
4
5
2
4
9
9
1
13
1
1
128
1
1
20
2
1
2
1
1
6
1
1
167
1
45
1
1
6
2
2
1
1
2
1
1
11
1
1
1
2
1
4
1
9
6
1
2
18
10
1
23
8
118
6
9
2
42
6
1
1
1
1
2
1
1
1
37
35
18
1
16
5
26
1
1
1
4
4
1
1
11
22
12
1
1
1
129
3
2
6
1
3
1
14
1
39
1
9
4
21
13
1
148
12
1
15
3
1
1
1
1
25
1
1
1
2
74
3
1
1
1
21
9
40
1
5
1
1
75
1
3
37
2
132
2
1
37
19
19
1
1
4
1
2
40
2
24
1
1
1
1
1
4
6
9
8
20
1
1
2
1
1
1
19
10
1
20
2
12
5
1
1
8
135
11
37
1
6
1
1
1
11
1
1
1
1
12
1
1
1
46
1
1
5
2
1
1
5
1
2
1
1
138
1
35
1
37
10
27
39
1
1
23
3
1
1
4
2
2
4
1
128
53
1
1
74
1
40
3
40
7
1
3
1
1
7
12
71
124
40
32
1
35
2
1
6
4
1
13
118
1
49
92
1
1
2
2
70
29
36
1
2
1
1
1
3
1
1
39
1
1
40
12
2
2
2
1
48
10
100
1
17
1
12
1
1
4
1
1
1
1
1
9
1
2
1
1
11
3
1
17
10
1
5
46
22
8
2
2
134
1
1
135
1
1
3
141
1
1
1
5
5
1
1
12
1
2
10
48
17
20
1
127
2
3
8
2
3
1
1
3
1
1
2
17
36
62
1
89
1
2
35
115
122
1
1
3
5
15
1
1
1
1
1
3
2
151
1
1
1
3
2
1
6
3
75
1
1
2
1
3
3
1
1
1
6
1
1
1
14
76
8
12
1
3
13
1
18
2
1
12
36
15
1
3
2
24
1
5
120
1
3
2

1
5
14
2
1
2
3
1
3
12
3
3
8
1
1
1
3
3
1
2
1
165
15
1
1
27
8
1
1
3
123
1
4
1
2
2
6
14
12
3
1
33
1
2
41
13
1
14
1
1
1
1
1
5
10
3
4
1
4
1
149
1
1
1
75
122
17
1
1
15
1
31
18
1
33
5
1
2
14
1
86
1
5
18
2
4
14
12
15
37
1
16
4
101
3
12
3
1
1
5
28
35
6
123
1
5
22
9
121
6
3
1
1
3
1
31
13
1
1
1
3
1
11
5
18
1
1
13
3
13
1
1
1
2
1
3
30
18
13
7
36
92
11
1
4
115
1
1
17
1
2
2
3
7
1
40
15
14
2
1
1
7
21
2
2
6
2
1
1
1
3
1
4
1
1
1
2
10
2
1
9
20
1
9
13
3
1
4
1
13
12
1
74
1
1
3
2
47
35
1
1
18
37
2
27
45
75
2
6
7
7
2
1
39
2
4
1
183
129
1
1
7
2
2
1
2
1
1
1
2
1
36
5
12
1
18
1
2
12
6
2
18
8
14
1
1
6
5
9
1
8
1
1
24
8
1
20
1
3
2
3
2
12
106
1
1
1
1
1
37
132
2
5
2
4
1
50
1
50
1
122
15
27
56
1
1
1
8
1
39
1
40
4
1
1

- VISUALIZATION PROJECT Geospatial Business Intelligence (BI)
    * Make a geospartial analysis of the `companies` dataset
    * Things you know:
        - You have a software company with 50 employees
        - The company creates video games
        - Roles in your company: 20 developers, 20 Designers/Creatieves/UX/UI and 10 executives/managers
    * Do an analysis about placing the new company offices in the best environment based on the following criteria:
        - There should be software engineers working around
        - The surroundings must have a good ratio of big companies vs startups
        - Ensure you have in your surroundings companies that cover the interests of your team
        - Avoid old companies, prefer recently created ones

- Para cada cluster:
        - Aplicamos solo si el número de empresas cercanas es superior a 30.
        - Necesario: compañía software cerca: ['web', 'software', 'social', 'games_video','network_hosting', 'search', 'ecommerce']
        - Otorgamos puntos según el sector de la empresa:
{'web': 5, 'software': 5, 'social': 5, 'games_video': 10,'network_hosting': 2, 'photo_video': 3, 'mobile': 2, 'search': 5, 'ecommerce': 5, 'consulting': 2, 'nanotech': 2}
        - Otorgamos 5 puntos por cada empresa dentro del cluster.
        - Ratio entre startups y empresas grandes: debe ser entre 0,4 y 0,6:
            -Definimos como startup aquellas posteriores o iguales a 2010 y con un máximo de      300 empleados.
            - Definimos como empresa grande aquellas fundadas entre 1990 y 2009, o con más de 300 empleados.
        - Si la empresa tiene IPO, investments, money raised, acquisition.price amount, le sumamos 10.
        Multiplicamos todos esos puntos por 0,5
    - Cogemos el money raised total y lo dividimos entre el número de empresas. Lo multiplicamos por 0,5 y lo sumamos con el otro valor.

In [69]:
def money_raised(money):
  factors = {'k': 1000,
  'M': 1000000,
  'B': 1000000000}
  return(float(money[1:-1])* factors[money[-1]])

mandatory_cats = ['web', 'software', 'social', 'games_video',
                  'network_hosting', 'search', 'ecommerce']

In [65]:
display(prospects)

,_id,acquisition,address1,address2,category_code,city,country_code,description,founded_year,ipo,latitude,loc,longitude,name,number_of_employees,state_code,total_money_raised,zip_code
0,5cda96da3370c10c1579b721,None,1 Angel Court,,web,London,GBR,,2007,None,51.514735,"[-0.0874239, 51.5147349]",-0.087424,Greenvoice,3.0,None,$0,EC2R 7HJ
1,5cda96da3370c10c1579ac12,None,107 Cheapside,,web,London,GBR,London Office,2007,None,51.514157,"[-0.0934254, 51.5141566]",-0.093425,Zemanta,30.0,None,$7.35M,EC2V 6DY
2,5cda96da3370c10c1579b3b4,None,16 St Martin's Le Grand,,software,London,GBR,London Office,2002,None,51.515768,"[-0.0970749, 51.5157682]",-0.097075,BrightTALK,NaN,None,$20.5M,EC1A 4NA
3,5cda96da3370c10c1579b6f5,None,33-37 Charterhouse Sq.,,web,London,GBR,London Office,2008,None,51.520327,"[-0.0994596, 51.5203268]",-0.099460,Zookel,10.0,None,$0,EC1M 6EA
4,5cda96da3370c10c1579b447,"{'price_amount': None, 'price_currency_code': ...","11 Curtain Road,","2nd Floor, THe Courtyard Building",ecommerce,London,GBR,LaunchPad,2009,None,51.519613,"[-0.1020265, 51.5196135]",-0.102027,Shutl,10.0,None,£7.66M,EC2A3LT
5,5cda96da3370c10c1579ab66,None,17 Blossom Street,,web,London,GBR,HQ,2007,None,51.521116,"[-0.0778345, 51.5211159]",-0.077835,Tipped,2.0,None,$0,E1 6PL
6,5cda96da3370c10c1579ac08,None,57-63 Scrutton Street,,web,London,GBR,London Office,2007,None,51.523537,"[-0.0808503, 51.5235368]",-0.080850,HelloTxt,2.0,None,$0,EC2A 4PF
7,5cda96da3370c10c1579b795,None,6 Snow Hill,,software,London,GBR,TestPlant,2008,None,51.517356,"[-0.1037742, 51.517356]",-0.103774,Testplant,50.0,None,$2.56M,EC1A 2AY
8,5cda96da3370c10c1579b1e8,None,77 Leonard Street,,web,London,GBR,London,2002,None,51.524662,"[-0.0830772, 51.5246619]",-0.083077,Solid State Group,18.0,None,$0,EC2A 4QS
9,5cda96da3370c10c1579b718,None,61 Charlotte Road,,search,London,GBR,Headquarters,2006,None,51.524662,"[-0.0830772, 51.5246619]",-0.083077,Tug,25.0,None,$0,EC2A 3QT
10,5cda96da3370c10c1579ab35,"{'price_amount': 13700000, 'price_currency_cod...",Victoria House,64 Paul Street,web,London,GBR,,2006,None,51.524860,"[-0.0836311, 51.5248598]",-0.083631,amiando,76.0,None,$0,EC2A 4NA
11,5cda96da3370c10c1579b4e1,None,9 Northburgh Street,,software,London,GBR,Concrete,2003,None,51.523226,"[-0.1010535, 51.5232255]",-0.101054,Concrete,10.0,None,$0,EC1V 0AH
12,5cda96da3370c10c1579b601,None,46-47 Britton Street,,search,London,GBR,Headquarters,2007,None,51.521150,"[-0.1036021, 51.5211504]",-0.103602,Ayima,17.0,None,$0,EC1M 5UJ
13,5cda96da3370c10c1579ab33,"{'price_amount': None, 'price_currency_code': ...",4 Elder Street,,web,London,GBR,,2007,None,51.522007,"[-0.0766034, 51.5220072]",-0.076603,Bragster,10.0,None,$3.5M,E1 6BT
14,5cda96da3370c10c1579b736,None,5th Floor,6 Briset Street,web,London,GBR,Enternships HQ,2009,None,51.521528,"[-0.1038219, 51.5215279]",-0.103822,Enternships,15.0,None,$0,EC1M 5NR
15,5cda96da3370c10c1579aa12,None,24 Greville Street,,search,London,GBR,,2007,None,51.519579,"[-0.1065551, 51.5195795]",-0.106555,FAROO,5.0,None,$0,EC1N 8SS
16,5cda96da3370c10c1579b77a,None,"Centre Point, 4th Floor",103 New Oxford Street,social,London,GBR,,2006,None,51.527236,"[-0.0956262, 51.5272363]",-0.095626,Flirtomatic,NaN,None,$9M,WC1A 1DD
17,5cda96da3370c10c1579ac6e,None,82 Clerkenwell Road,,search,London,GBR,,2006,None,51.529067,"[-0.0949082, 51.5290669]",-0.094908,Nestoria,13.0,None,$0,EC1M 5RF
18,5cda96da3370c10c1579ab5e,None,4 Pear Tree Court,Clerkenwell,web,London,GBR,None,1996,None,51.523676,"[-0.107843, 51.523676]",-0.107843,cScape,70.0,None,$0,EC1R 0DS
19,5cda96da3370c10c1579af0b,None,24-28a Hatton Wall,,web,London,GBR,The Tin Ltd,2001,None,51.521290,"[-0.10978, 51.52129]",-0.109780,The Tin,10.0,None,$0,EC1N 8JH
20,5cda96da3370c10c1579b73a,"{'price_amount': 43400000, 'price_currency_cod...","Floor 6, 236 Gray's Inn Road",,ecommerce,London,GBR,,2000,None,51.518612,"[-0.111509, 51.5186118]",-0.111509,BioMed Central,NaN,None,$0,WC1X 8HL
21,5cda96da3370c10c1579b45d,None,56 Ayres Street,,mobile,London,GBR,,2001,None,51.503753,"[-0.0965536, 51.503753]",-0.096554,Masabi,NaN,None,$8.8M,SE1 1EU
22,5cda96da3370c10c1579b1a6,None,Lyon House,160-166 Borough High Street,social,London,GBR,Headquarters,2007,None,51.502767,"[-0.0925694, 51.5027669]",-0.092569,SocialGO,12.0,None,$3M,SE1 1LB
23,5cda96da3370c10c1579b06a,None,12-16 Laystall Street,Clerkenwell,software,London,GBR,The Lightwell,1999,None,51.522160,"[-0.111242, 51.52216]",-0.111242,MetaPack,30.0,None,$20.5M,EC1R 4PF
24,5cda96da3370c10c1579afa4,None,12-16 Laystall Street,Clerkenwell,software,London,GBR,The Lightwell,1999,None,51.522160,"[-0.111242, 51.52216]",-0.111242,MetaPack,30.0,None,$20.5M,EC1R 4PF
25,5cda96da3370c10c1579aded,None,11 Marshalsea Road,,web,London,GBR,London,2007,None,51.501651,"[-0.0944873, 51.5016514]",-0.094487,Wigadoo,5.0,None,$0,SE1 1EN
26,5cda96da3370c10c1579b7cf,None,,,mobile,London,GBR,198 High Holborn,2009,None,51.517742,"[-0.1165365, 51.5177425]",-0.116537,acrossair,6.0,None,$0,WC1V 7BD
27,5cda96da3370c10c1579b713,None,145-157 St John Street,,search,London,GBR,London Office,2008,None,51.522076,"[-0.1153003, 51.5220763]",-0.115300,Padz,5.0,None,$0,EC1V 4PY
28,5cda96da3370c10c1579b400,None,C/O DEREK ROTHERA & COMPANY UNITS 15 & 16,7 WENLOCK ROAD,software,London,GBR,Emoshape ltd,2007,None,51.512383,"[-0.1158832, 51.5123833]",-0.115883,Emoshape,10.0,None,$0,N1 7SL
29,5cda96da3370c10c1579aec5,None,"1st Floor, Holborn Gate,","330 High Holborn,",software,London,GBR,Head Office,1998,None,51.500395,"[-0.083743, 51.500395]",-0.083743,Advorto,14.0,None,$0,WC1V 7QT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,5cda96da3370c10c1579b15c,None,1 Berkeley Street,,consulting,,GBR,London,2001,None,51.507404,"[-0.142322, 51.507404]",-0.142322,AMF Ventures,18.0,None,$0,w1j 8dj
75,5cda96da3370c10c1579b5e1,None,72 New Bond Street,,web,London,GBR,London Office,2009,None,51.513775,"[-0.1459893, 51.5137747]",-0.145989,Tweenjo,2.0,None,$0,W1S 1RR
76,5cda96da3370c10c1579b100,None,Berkeley Square House,,search,London,GBR,London Office,2007,None,51.509905,"[-0.145438, 51.509905]",-0.145438,SearchSalad,15.0,None,$0,W1
77,5cda96da3370c10c1579ae59,None,Brook House,229-243 Shepherds Bush Rd,mobile,London,GBR,Vonage UK,2001,"{'valuation_amount': None, 'valuation_currency...",51.512915,"[-0.1471, 51.512915]",-0.147100,Vonage,1500.0,None,$0,W6 7AN
78,5cda96da3370c10c1579ad33,None,18 Bentinck Street,,web,London,GBR,None,2008,None,51.517076,"[-0.150417, 51.517076]",-0.150417,Worship Journal,3.0,None,$0,W1U 2AR
79,5cda96da3370c10c1579b6a7,None,123 Buckingham Palace Road,,web,London,GBR,Zensify,2006,None,51.494076,"[-0.146659, 51.4940757]",-0.146659,Zensify,11.0,None,$0,SW1W 9SR
80,5cda96da3370c10c1579ac76,None,123 Buckingham Palace Road,,ecommerce,London,GBR,None,2006,None,51.494067,"[-0.146665, 51.494067]",-0.146665,ProcServe,55.0,None,$0,SW1W 9SR
81,5cda96da3370c10c1579ac94,"{'price_amount': 2500000, 'price_currency_code...",No. 9,6 Portal Way,web,London,GBR,LOVEFiLM International,2003,None,51.524129,"[-0.1585816, 51.5241294]",-0.158582,LOVEFiLM,NaN,None,$0,W3 6RU
82,5cda96da3370c10c1579b49f,None,Unit 102,72 Great Titchfield St,consulting,London,GBR,,2008,None,51.519772,"[-0.1597092, 51.519772]",-0.159709,Neutron Creations,2.0,None,$0,W1W 7QW
83,5cda96da3370c10c1579aa40,None,48 Charlotte St,,software,London,GBR,,2003,None,51.542360,"[-0.149522, 51.54236]",-0.149522,Jiglu,3.0,None,$800k,W1T 2NS
84,5cda96da3370c10c1579b6f9,None,35 Ballards Lane,,web,London,GBR,World Headquarters,2009,None,51.539591,"[-0.1525048, 51.5395914]",-0.152505,Bar Exchange,10.0,None,$0,London N3 1XW
85,5cda96da3370c10c1579aa04,None,88 Crawford Street,,web,London,GBR,,2007,None,51.519204,"[-0.1626103, 51.5192042]",-0.162610,Wonga,NaN,None,$101M,W1H 2EJ
86,5cda96da3370c10c1579ae0c,None,6 Erskine Road,"First Floor, Block 3",mobile,London,GBR,HQ,2006,None,51.541937,"[-0.157333, 51.541937]",-0.157333,MyMart,4.0,None,$0,NW3 3AJ
87,5cda96da3370c10c1579ae90,None,,,search,London,GBR,,2007,None,51.476169,"[-0.1400366, 51.4761694]",-0.140037,Snagsta,4.0,None,£104k,SW8 3NP
88,5cda96da3370c10c1579b5ed,None,3 Monnery Road,,web,London,GBR,Head office,2009,None,51.560395,"[-0.1365725, 51.5603951]",-0.136573,Space Spare,2.0,None,$0,N19 5SA
89,5cda96da3370c10c1579ae91,None,Imperial College,South Kensington Campus,web,London,GBR,London Office,2008,None,51.498067,"[-0.175393, 51.498067]",-0.175393,Kappa Prime,2.0,None,$0,sw7 2az
90,5cda96da3370c10c1579acd6,None,"Unit 4.01, Tea Building",56 Shoreditch High Street,web,London,GBR,,2003,None,51.471958,"[-0.147646, 51.471958]",-0.147646,Mind Candy,NaN,None,$10M,E1 6JJ
91,5cda96da3370c10c1579b6af,"{'price_amount': 350000, 'price_currency_code'...",Winchester House,259-269 Old Marylebone Road,ecommerce,London,GBR,,2005,None,51.543337,"[-0.172364, 51.543337]",-0.172364,Autoquake,100.0,None,$39.9M,NW1 5RA
92,5cda96da3370c10c1579aeb5,None,Google Campus London,4-5 Bonhill Street,consulting,London,GBR,Main Headquaters,2008,None,51.517810,"[-0.184358, 51.51781]",-0.184358,Dynamic50,10.0,None,$0,EC2A 4BX
93,5cda96da3370c10c1579b5aa,None,,,web,London,GBR,Headquarters,2009,None,51.520668,"[-0.1852079, 51.5206682]",-0.185208,TV Pixie,2.0,None,€50k,NW6 1TE
94,5cda96da3370c10c1579b22b,None,94 St Alphonsus Road,,software,London,GBR,London Office,2007,None,51.459825,"[-0.1364995, 51.4598249]",-0.136499,SLevolution,4.0,None,$0,SW4 7AT
95,5cda96da3370c10c1579b724,None,,,web,London,GBR,"London, GBR",2007,None,51.579373,"[-0.1162418, 51.5793731]",-0.116242,GetItWithMe,5.0,None,$0,N1 6NG
96,5cda96da3370c10c1579ae63,None,10 Hamilton Road,Sidcup,web,Kent,GBR,,2007,None,51.484638,"[0.001682, 51.484638]",0.001682,Buy Our Honeymoon,2.0,None,$0,DA15 7HB
97,5cda96da3370c10c1579b46a,None,PO Box 42668,,mobile,London,GBR,,2008,None,51.491864,"[-0.1886272, 51.4918635]",-0.188627,AfterWorkDeals,1.0,None,$0,SW5 0UY
98,5cda96da3370c10c1579b5d2,None,,,web,,GBR,,2007,None,51.545091,"[-0.1867769, 51.5450909]",-0.186777,Folia,2.0,None,$0,NW6
99,5cda96da3370c10c1579b59e,None,104 Tennyson Road,,web,London,GBR,London Office,2008,None,51.538289,"[-0.2023958, 51.5382894]",-0.202396,upad,8.0,None,$0,NW6 7SB
100,5cda96da3370c10c1579acdf,None,9 Thorpe Close,Portobello Rd,web,London,GBR,None,2010,None,51.518190,"[-0.208979, 51.51819]",-0.208979,Pixsta,NaN,None,£3M,W10 5XL
101,5cda96da3370c10c1579b378,"{'price_amount': None, 'price_currency_code': ...",111 Salusbury Road,,web,London,GBR,London,2008,None,51.537425,"[-0.2065907, 51.5374249]",-0.206591,Demotix,8.0,None,$0,NW6 6RG
102,5cda96da3370c10c1579b769,None,78 Mill Lane,,mobile,London,GBR,,2009,None,51.551469,"[-0.1996418, 51.5514688]",-0.199642,Myhive,6.0,None,$0,NW61JZ
103,5cda96da3370c10c1579ac8e,None,57 St Dunstans Road,,mobile,London,GBR,None,2008,None,51.489160,"[-0.217662, 51.48916]",-0.217662,TutorByTxt,2.0,None,$0,w6 8re

In [66]:
display(len(prospects) > 30)

True

In [70]:
def check_mandatory_sectors(df):
    for index, row in df.iterrows():
        if row['category_code'] in mandatory_cats:
            print(row['category_code'])
            return True
    return False

display(check_mandatory_sectors(prospects))

web

True

In [72]:
def get_sector_points(df):
    ac = 0
    category_points = {'web': 5, 'software': 5, 'social': 5, 'games_video': 10,
                    'network_hosting': 2, 'photo_video': 3, 'mobile': 2, 'search': 5, 
                    'ecommerce': 5, 'consulting': 2, 'nanotech': 2}
    for index, row in df.iterrows():
        ac += category_points[row['category_code']]
        print(ac)
    return ac

display(get_sector_points(prospects))

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
107
112
117
122
127
129
134
139
144
149
154
159
164
166
171
176
181
186
191
196
201
206
211
213
218
220
225
230
235
240
242
247
252
257
262
267
272
277
282
287
289
294
299
304
306
311
316
318
323
328
333
335
337
339
344
349
351
356
361
366
371
373
378
383
388
390
395
400
405
410
415
417
422
427
432
437
439
444
449
454
459
461
463

463