In [1]:
from pymongo import MongoClient
import pandas as pd
client = MongoClient()

db = client.nyc_restaurants

for rest in db.restaurants.find({"name":"Burger King"}):
    print("BK placed in {} {}".format(rest["borough"], rest["address"]["street"]))

BK placed in Queens Northern Boulevard
BK placed in Queens Northern Boulevard
BK placed in Queens Northern Boulevard
BK placed in Queens Hillside Avenue
BK placed in Brooklyn Church Avenue
BK placed in Queens Queens Boulevard
BK placed in Queens Rockaway Boulevard
BK placed in Queens 61 Avenue
BK placed in Staten Island Jewett Avenue
BK placed in Queens 82 Street
BK placed in Queens Astoria Boulevard
BK placed in Bronx White Plains Road
BK placed in Manhattan Beaver Street
BK placed in Staten Island Willow Brook Road
BK placed in Staten Island Hylan Boulevard
BK placed in Staten Island Hylan Boulevard
BK placed in Staten Island Richmond Avenue
BK placed in Brooklyn South Conduit Avenue
BK placed in Brooklyn Marcy Avenue
BK placed in Manhattan West  125 Street
BK placed in Queens Main Street
BK placed in Queens Merrick Boulevard
BK placed in Brooklyn Hillel Place
BK placed in Bronx East  149 Street
BK placed in Queens Atlantic Avenue
BK placed in Brooklyn 4 Avenue
BK placed in Brooklyn 86 Street
BK placed in Brooklyn Myrtle Avenue
BK placed in Brooklyn Coney Island Ave
BK placed in Bronx Bartow Ave
BK placed in Bronx East Fordham Road
BK placed in Bronx White Plains Road
BK placed in Bronx Southern Boulevard
BK placed in Bronx East 161 Street
BK placed in Manhattan St Nicholas Avenue
BK placed in Bronx Jerome Avenue
BK placed in Bronx Jerome Avenue
BK placed in Manhattan 3 Avenue
BK placed in Queens Liberty Avenue
BK placed in Queens Queens Boulevard
BK placed in Manhattan Delancey Street
BK placed in Manhattan Liberty Street
BK placed in Manhattan Fifth Avenue
BK placed in Manhattan East   86 Street
BK placed in Manhattan West   42 Street
BK placed in Queens Jamaica Avenue
BK placed in Manhattan 7 Avenue
BK placed in Manhattan Broadway
BK placed in Queens Hillside Avenue
BK placed in Brooklyn 5 Avenue
BK placed in Brooklyn 14 Avenue
BK placed in Brooklyn Flatbush Avenue
BK placed in Brooklyn Rockaway Parkway
BK placed in Manhattan East  116 Street
BK placed in Queens Hillside Avenue
BK placed in Queens Astoria Boulevard
BK placed in Bronx Bruckner Boulevard
BK placed in Manhattan Broadway
BK placed in Bronx East Tremont Avenue
BK placed in Queens Myrtle Avenue
BK placed in Manhattan Canal Street
BK placed in Bronx Grand Concourse
BK placed in Bronx Hutchinson River Parkway
BK placed in Bronx Boston Post Road
BK placed in Staten Island Richmond Avenue
BK placed in Brooklyn Broadway
BK placed in Queens Hillside Avenue
BK placed in Brooklyn Bedford Avenue
BK placed in Manhattan Fulton Street
BK placed in Staten Island Richmond Avenue
BK placed in Brooklyn Linden Boulevard
BK placed in Brooklyn Foster Avenue
BK placed in Brooklyn Fort Hamilton Parkway
BK placed in Brooklyn Fulton Street
BK placed in Queens 21St St
BK placed in Bronx Broadway
BK placed in Queens Roosevelt Avenue
BK placed in Manhattan Broadway
BK placed in Brooklyn Fulton Street
BK placed in Queens Rockaway Blvd

In [3]:
from pandas.io.json import json_normalize

bks = pd.DataFrame(db.restaurants.find({"name":"Burger King"}))

display(bks)
display(bks["address"])

locations = json_normalize(bks["address"])
display(locations)

,_id,address,borough,cuisine,grades,name,restaurant_id
0,56b5b0bf7853e8294156f146,"{'building': '22210', 'coord': [-73.759249, 40...",Queens,Hamburgers,"[{'date': 2014-12-18 00:00:00, 'grade': 'A', '...",Burger King,40370167
1,56b5b0bf7853e8294156f148,"{'building': '6815', 'coord': [-73.89707140000...",Queens,Hamburgers,"[{'date': 2014-03-12 00:00:00, 'grade': 'A', '...",Burger King,40370238
2,56b5b0bf7853e8294156f14a,"{'building': '14474', 'coord': [-73.8206678, 4...",Queens,Hamburgers,"[{'date': 2014-02-13 00:00:00, 'grade': 'A', '...",Burger King,40370239
3,56b5b0bf7853e8294156f15c,"{'building': '25810', 'coord': [-73.7007390999...",Queens,Hamburgers,"[{'date': 2014-07-16 00:00:00, 'grade': 'B', '...",Burger King,40370916
4,56b5b0bf7853e8294156f15e,"{'building': '9006', 'coord': [-73.9195106, 40...",Brooklyn,Hamburgers,"[{'date': 2014-12-02 00:00:00, 'grade': 'A', '...",Burger King,40370917
5,56b5b0bf7853e8294156f175,"{'building': '92-83', 'coord': [-73.8664386, 4...",Queens,Hamburgers,"[{'date': 2014-01-29 00:00:00, 'grade': 'A', '...",Burger King,40372422
6,56b5b0bf7853e8294156f188,"{'building': '154-05', 'coord': [-73.780574, 4...",Queens,Hamburgers,"[{'date': 2014-09-08 00:00:00, 'grade': 'A', '...",Burger King,40372618
7,56b5b0bf7853e8294156f461,"{'building': '24202', 'coord': [-73.7378856, 4...",Queens,Hamburgers,"[{'date': 2014-05-20 00:00:00, 'grade': 'A', '...",Burger King,40398389
8,56b5b0bf7853e8294156f605,"{'building': '950', 'coord': [-74.131142, 40.6...",Staten Island,Hamburgers,"[{'date': 2015-01-16 00:00:00, 'grade': 'A', '...",Burger King,40513416
9,56b5b0bf7853e8294156f668,"{'building': '3707', 'coord': [-101.8945214, 3...",Queens,American,"[{'date': 2014-06-04 00:00:00, 'grade': 'A', '...",Burger King,40534067
10,56b5b0bf7853e8294156f7a3,"{'building': '33-10', 'coord': [-73.9164713999...",Queens,Hamburgers,"[{'date': 2014-12-30 00:00:00, 'grade': 'A', '...",Burger King,40572494
11,56b5b0bf7853e8294156f877,"{'building': '4275', 'coord': [-73.8565856, 40...",Bronx,Hamburgers,"[{'date': 2014-10-14 00:00:00, 'grade': 'A', '...",Burger King,40598230
12,56b5b0bf7853e8294156f884,"{'building': '16', 'coord': [-74.0124913, 40.7...",Manhattan,Hamburgers,"[{'date': 2014-02-11 00:00:00, 'grade': 'A', '...",Burger King,40600619
13,56b5b0bf7853e8294156f8c9,"{'building': '20', 'coord': [-74.144395, 40.62...",Staten Island,Hamburgers,"[{'date': 2014-09-02 00:00:00, 'grade': 'A', '...",Burger King,40609677
14,56b5b0bf7853e8294156f8ca,"{'building': '1565', 'coord': [-74.089108, 40....",Staten Island,Hamburgers,"[{'date': 2014-12-17 00:00:00, 'grade': 'A', '...",Burger King,40609676
15,56b5b0bf7853e8294156f8cb,"{'building': '2800', 'coord': [-74.1152092, 40...",Staten Island,Hamburgers,"[{'date': 2014-05-13 00:00:00, 'grade': 'A', '...",Burger King,40609678
16,56b5b0bf7853e8294156f8cc,"{'building': '2557', 'coord': [-74.16819079999...",Staten Island,Hamburgers,"[{'date': 2015-01-15 00:00:00, 'grade': 'A', '...",Burger King,40609680
17,56b5b0bf7853e8294156f93c,"{'building': '624', 'coord': [-73.8665421, 40....",Brooklyn,Hamburgers,"[{'date': 2014-03-26 00:00:00, 'grade': 'A', '...",Burger King,40640493
18,56b5b0bf7853e8294156f93f,"{'building': '957', 'coord': [-73.9459945, 40....",Brooklyn,Hamburgers,"[{'date': 2014-09-18 00:00:00, 'grade': 'B', '...",Burger King,40640496
19,56b5b0bf7853e8294156f940,"{'building': '130', 'coord': [-73.9470784, 40....",Manhattan,Hamburgers,"[{'date': 2014-07-24 00:00:00, 'grade': 'A', '...",Burger King,40640500
20,56b5b0bf7853e8294156f99b,"{'building': '3920', 'coord': [-73.8305506, 40...",Queens,Hamburgers,"[{'date': 2014-03-20 00:00:00, 'grade': 'A', '...",Burger King,40660816
21,56b5b0bf7853e8294156f9ed,"{'building': '21603', 'coord': [-73.752431, 40...",Queens,Hamburgers,"[{'date': 2014-12-18 00:00:00, 'grade': 'Z', '...",Burger King,40674684
22,56b5b0bf7853e8294156f9f2,"{'building': '13', 'coord': [-73.9482251, 40.6...",Brooklyn,American,"[{'date': 2014-06-12 00:00:00, 'grade': 'A', '...",Burger King,40676502
23,56b5b0bf7853e8294156fa12,"{'building': '521', 'coord': [-73.914334, 40.8...",Bronx,Hamburgers,"[{'date': 2014-02-14 00:00:00, 'grade': 'A', '...",Burger King,40684999
24,56b5b0bf7853e8294156fb1a,"{'building': '9202', 'coord': [-73.8501976, 40...",Queens,Hamburgers,"[{'date': 2014-11-10 00:00:00, 'grade': 'A', '...",Burger King,40728711
25,56b5b0bf7853e8294156fb53,"{'building': '4101', 'coord': [-74.0071389, 40...",Brooklyn,Hamburgers,"[{'date': 2014-03-04 00:00:00, 'grade': 'A', '...",Burger King,40736890
26,56b5b0bf7853e8294156fbda,"{'building': '2164', 'coord': [-73.99464789999...",Brooklyn,Hamburgers,"[{'date': 2014-12-24 00:00:00, 'grade': 'A', '...",Burger King,40753282
27,56b5b0bf7853e8294156fc0f,"{'building': '1412', 'coord': [-73.918601, 40....",Brooklyn,Hamburgers,"[{'date': 2014-05-13 00:00:00, 'grade': 'A', '...",Burger King,40762618
28,56b5b0bf7853e8294156fc12,"{'building': '2425', 'coord': [-73.96086919999...",Brooklyn,Hamburgers,"[{'date': 2014-03-06 00:00:00, 'grade': 'A', '...",Burger King,40763076
29,56b5b0bf7853e8294156fc73,"{'building': '2200', 'coord': [-73.8236189, 40...",Bronx,Hamburgers,"[{'date': 2014-10-27 00:00:00, 'grade': 'A', '...",Burger King,40794912
...,...,...,...,...,...,...,...
50,56b5b0bf7853e8294157070f,"{'building': '6421', 'coord': [-73.9991706, 40...",Brooklyn,Hamburgers,"[{'date': 2014-04-24 00:00:00, 'grade': 'B', '...",Burger King,41144262
51,56b5b0bf7853e82941570711,"{'building': '971', 'coord': [-73.957852000000...",Brooklyn,American,"[{'date': 2014-08-22 00:00:00, 'grade': 'A', '...",Burger King,41144476
52,56b5b0bf7853e82941570a8f,"{'building': '1772', 'coord': [-73.8951861, 40...",Brooklyn,Hamburgers,"[{'date': 2014-01-21 00:00:00, 'grade': 'A', '...",Burger King,41223165
53,56b5b0bf7853e82941570cbe,"{'building': '154', 'coord': [-73.941465299999...",Manhattan,Hamburgers,"[{'date': 2014-09-05 00:00:00, 'grade': 'A', '...",Burger King,41257982
54,56b5b0bf7853e82941570cea,"{'building': '21710', 'coord': [-73.7468716, 4...",Queens,Hamburgers,"[{'date': 2014-08-16 00:00:00, 'grade': 'A', '...",Burger King,41262797
55,56b5b0bf7853e82941570dd9,"{'building': '91-18', 'coord': [-73.8775064, 4...",Queens,Hamburgers,"[{'date': 2014-12-31 00:00:00, 'grade': 'A', '...",Burger King,41277596
56,56b5b0bf7853e82941570eff,"{'building': '1851', 'coord': [-73.8628755, 40...",Bronx,Hamburgers,"[{'date': 2013-12-26 00:00:00, 'grade': 'A', '...",Burger King,41298880
57,56b5b0bf7853e82941570f40,"{'building': '3451', 'coord': [-73.9527836, 40...",Manhattan,Hamburgers,"[{'date': 2014-10-16 00:00:00, 'grade': 'A', '...",Burger King,41302341
58,56b5b0bf7853e82941571181,"{'building': '400', 'coord': [-73.900825, 40.8...",Bronx,Hamburgers,"[{'date': 2014-07-07 00:00:00, 'grade': 'A', '...",Burger King,41338254
59,56b5b0bf7853e8294157121c,"{'building': '5718', 'coord': [-73.8953002, 40...",Queens,Hamburgers,"[{'date': 2014-10-03 00:00:00, 'grade': 'A', '...",Burger King,41349574
60,56b5b0bf7853e829415713c7,"{'building': '273', 'coord': [-74.0011966, 40....",Manhattan,American,"[{'date': 2014-03-06 00:00:00, 'grade': 'A', '...",Burger King,41375675
61,56b5b0bf7853e82941571431,"{'building': '557', 'coord': [-73.927454, 40.8...",Bronx,Hamburgers,"[{'date': 2014-04-10 00:00:00, 'grade': 'A', '...",Burger King,41380708
62,56b5b0bf7853e829415715f8,"{'building': '1590', 'coord': [-73.83649799999...",Bronx,Hamburgers,"[{'date': 2014-12-04 00:00:00, 'grade': 'A', '...",Burger King,41396894
63,56b5b0bf7853e82941571638,"{'building': '3500', 'coord': [-83.8858832, 30...",Bronx,Hamburgers,"[{'date': 2014-04-18 00:00:00, 'grade': 'A', '...",Burger King,41400742
64,56b5b0bf7853e82941571a75,"{'building': '2655', 'coord': [-74.1660553, 40...",Staten Island,Hamburgers,"[{'date': 2014-09-08 00:00:00, 'grade': 'A', '...",Burger King,41457654
65,56b5b0bf7853e82941571b59,"{'building': '734', 'coord': [-73.9425072, 40....",Brooklyn,Hamburgers,"[{'date': 2014-01-16 00:00:00, 'grade': 'A', '...",Burger King,41467976
66,56b5b0bf7853e82941571bbc,"{'building': '13110', 'coord': [-73.8209729000...",Queens,Hamburgers,"[{'date': 2014-04-16 00:00:00, 'grade': 'A', '...",Burger King,41472626
67,56b5b0bf7853e82941571ef5,"{'building': '1727', 'coord': [-73.9570007, 40...",Brooklyn,Hamburgers,"[{'date': 2015-01-07 00:00:00, 'grade': 'A', '...",Burger King,41512625
68,56b5b0bf7853e829415720e3,"{'building': '106', 'coord': [-74.0070071, 40....",Manhattan,Hamburgers,"[{'date': 2014-05-01 00:00:00, 'grade': 'A', '...",Burger King,41541322
69,56b5b0bf7853e82941572529,"{'building': '3901', 'coord': [-74.1638354, 40...",Staten Island,American,"[{'date': 2014-08-27 00:00:00, 'grade': 'Z', '...",Burger King,41584432
70,56b5b0bf7853e829415732e3,"{'building': '1940', 'coord': [-73.88989529999...",Brooklyn,Hamburgers,"[{'date': 2015-01-09 00:00:00, 'grade': 'A', '...",Burger King,41694258
71,56b5b0bf7853e829415732e6,"{'building': '8002', 'coord': [-73.91848399999...",Brooklyn,American,"[{'date': 2014-05-27 00:00:00, 'grade': 'A', '...",Burger King,41694278
72,56b5b0bf7853e829415732e7,"{'building': '3301', 'coord': [-73.9815859, 40...",Brooklyn,American,"[{'date': 2014-03-29 00:00:00, 'grade': 'A', '...",Burger King,41694265
73,56b5b0bf7853e829415732e9,"{'building': '417', 'coord': [-73.988400099999...",Brooklyn,Hamburgers,"[{'date': 2015-01-09 00:00:00, 'grade': 'A', '...",Burger King,41694297
74,56b5b0bf7853e82941574316,"{'building': '3310', 'coord': [-73.9326907, 40...",Queens,Hamburgers,"[{'date': 2014-11-20 00:00:00, 'grade': 'A', '...",Burger King,50005796
75,56b5b0bf7853e82941574521,"{'building': '6007', 'coord': [-73.8978707, 40...",Bronx,Hamburgers,"[{'date': 2014-04-24 00:00:00, 'grade': 'A', '...",Burger King,50007746
76,56b5b0bf7853e829415746ab,"{'building': '103-19', 'coord': [-73.862102999...",Queens,Hamburgers,"[{'date': 2014-08-19 00:00:00, 'grade': 'A', '...",Burger King,50009170
77,56b5b0bf7853e82941574714,"{'building': '325', 'coord': [-74.0050107, 40....",Manhattan,American,"[{'date': 2014-07-24 00:00:00, 'grade': 'A', '...",Burger King,50009553
78,56b5b0bf7853e82941574bf1,"{'building': '1297', 'coord': [-73.94934099999...",Brooklyn,Hamburgers,"[{'date': 2014-11-10 00:00:00, 'grade': 'A', '...",Burger King,50014084
79,56b5b0bf7853e82941574fac,"{'building': '10502', 'coord': [-73.8340360000...",Queens,American,"[{'date': 2015-01-08 00:00:00, 'grade': 'A', '...",Burger King,50016937

0     {'building': '22210', 'coord': [-73.759249, 40...
1     {'building': '6815', 'coord': [-73.89707140000...
2     {'building': '14474', 'coord': [-73.8206678, 4...
3     {'building': '25810', 'coord': [-73.7007390999...
4     {'building': '9006', 'coord': [-73.9195106, 40...
5     {'building': '92-83', 'coord': [-73.8664386, 4...
6     {'building': '154-05', 'coord': [-73.780574, 4...
7     {'building': '24202', 'coord': [-73.7378856, 4...
8     {'building': '950', 'coord': [-74.131142, 40.6...
9     {'building': '3707', 'coord': [-101.8945214, 3...
10    {'building': '33-10', 'coord': [-73.9164713999...
11    {'building': '4275', 'coord': [-73.8565856, 40...
12    {'building': '16', 'coord': [-74.0124913, 40.7...
13    {'building': '20', 'coord': [-74.144395, 40.62...
14    {'building': '1565', 'coord': [-74.089108, 40....
15    {'building': '2800', 'coord': [-74.1152092, 40...
16    {'building': '2557', 'coord': [-74.16819079999...
17    {'building': '624', 'coord': [-73.8665421, 40....
18    {'building': '957', 'coord': [-73.9459945, 40....
19    {'building': '130', 'coord': [-73.9470784, 40....
20    {'building': '3920', 'coord': [-73.8305506, 40...
21    {'building': '21603', 'coord': [-73.752431, 40...
22    {'building': '13', 'coord': [-73.9482251, 40.6...
23    {'building': '521', 'coord': [-73.914334, 40.8...
24    {'building': '9202', 'coord': [-73.8501976, 40...
25    {'building': '4101', 'coord': [-74.0071389, 40...
26    {'building': '2164', 'coord': [-73.99464789999...
27    {'building': '1412', 'coord': [-73.918601, 40....
28    {'building': '2425', 'coord': [-73.96086919999...
29    {'building': '2200', 'coord': [-73.8236189, 40...
                            ...
50    {'building': '6421', 'coord': [-73.9991706, 40...
51    {'building': '971', 'coord': [-73.957852000000...
52    {'building': '1772', 'coord': [-73.8951861, 40...
53    {'building': '154', 'coord': [-73.941465299999...
54    {'building': '21710', 'coord': [-73.7468716, 4...
55    {'building': '91-18', 'coord': [-73.8775064, 4...
56    {'building': '1851', 'coord': [-73.8628755, 40...
57    {'building': '3451', 'coord': [-73.9527836, 40...
58    {'building': '400', 'coord': [-73.900825, 40.8...
59    {'building': '5718', 'coord': [-73.8953002, 40...
60    {'building': '273', 'coord': [-74.0011966, 40....
61    {'building': '557', 'coord': [-73.927454, 40.8...
62    {'building': '1590', 'coord': [-73.83649799999...
63    {'building': '3500', 'coord': [-83.8858832, 30...
64    {'building': '2655', 'coord': [-74.1660553, 40...
65    {'building': '734', 'coord': [-73.9425072, 40....
66    {'building': '13110', 'coord': [-73.8209729000...
67    {'building': '1727', 'coord': [-73.9570007, 40...
68    {'building': '106', 'coord': [-74.0070071, 40....
69    {'building': '3901', 'coord': [-74.1638354, 40...
70    {'building': '1940', 'coord': [-73.88989529999...
71    {'building': '8002', 'coord': [-73.91848399999...
72    {'building': '3301', 'coord': [-73.9815859, 40...
73    {'building': '417', 'coord': [-73.988400099999...
74    {'building': '3310', 'coord': [-73.9326907, 40...
75    {'building': '6007', 'coord': [-73.8978707, 40...
76    {'building': '103-19', 'coord': [-73.862102999...
77    {'building': '325', 'coord': [-74.0050107, 40....
78    {'building': '1297', 'coord': [-73.94934099999...
79    {'building': '10502', 'coord': [-73.8340360000...
Name: address, Length: 80, dtype: object

,building,coord,street,zipcode
0,22210,"[-73.759249, 40.761574]",Northern Boulevard,11361
1,6815,"[-73.89707140000002, 40.7543896]",Northern Boulevard,11377
2,14474,"[-73.8206678, 40.7647441]",Northern Boulevard,11354
3,25810,"[-73.70073909999999, 40.73895539999999]",Hillside Avenue,11004
4,9006,"[-73.9195106, 40.6527642]",Church Avenue,11236
5,92-83,"[-73.8664386, 40.7319364]",Queens Boulevard,11374
6,154-05,"[-73.780574, 40.6679415]",Rockaway Boulevard,11434
7,24202,"[-73.7378856, 40.7541547]",61 Avenue,11362
8,950,"[-74.131142, 40.613148]",Jewett Avenue,10314
9,3707,"[-101.8945214, 33.5197474]",82 Street,11372
10,33-10,"[-73.91647139999999, 40.7695029]",Astoria Boulevard,11103
11,4275,"[-73.8565856, 40.8955218]",White Plains Road,10466
12,16,"[-74.0124913, 40.704817]",Beaver Street,10004
13,20,"[-74.144395, 40.624603]",Willow Brook Road,10302
14,1565,"[-74.089108, 40.590548]",Hylan Boulevard,10305
15,2800,"[-74.1152092, 40.56391]",Hylan Boulevard,10306
16,2557,"[-74.16819079999999, 40.5854225]",Richmond Avenue,10314
17,624,"[-73.8665421, 40.6755027]",South Conduit Avenue,11208
18,957,"[-73.9459945, 40.6804254]",Marcy Avenue,11216
19,130,"[-73.9470784, 40.8081125]",West 125 Street,10027
20,3920,"[-73.8305506, 40.7596528]",Main Street,11354
21,21603,"[-73.752431, 40.6803345]",Merrick Boulevard,11413
22,13,"[-73.9482251, 40.632598]",Hillel Place,11210
23,521,"[-73.914334, 40.8150983]",East 149 Street,10455
24,9202,"[-73.8501976, 40.6874312]",Atlantic Avenue,11416
25,4101,"[-74.0071389, 40.6512448]",4 Avenue,11232
26,2164,"[-73.99464789999999, 40.6020978]",86 Street,11214
27,1412,"[-73.918601, 40.698549]",Myrtle Avenue,11237
28,2425,"[-73.96086919999999, 40.5977486]",Coney Island Ave,11223
29,2200,"[-73.8236189, 40.8690061]",Bartow Ave,10475
...,...,...,...,...
50,6421,"[-73.9991706, 40.6247783]",14 Avenue,11219
51,971,"[-73.95785200000002, 40.6478935]",Flatbush Avenue,11226
52,1772,"[-73.8951861, 40.6379216]",Rockaway Parkway,11236
53,154,"[-73.94146529999999, 40.7982969]",East 116 Street,10029
54,21710,"[-73.7468716, 40.7281312]",Hillside Avenue,11427
55,91-18,"[-73.8775064, 40.76307389999999]",Astoria Boulevard,11369
56,1851,"[-73.8628755, 40.8273417]",Bruckner Boulevard,10472
57,3451,"[-73.9527836, 40.8237879]",Broadway,10031
58,400,"[-73.900825, 40.847418]",East Tremont Avenue,10457
59,5718,"[-73.8953002, 40.7007167]",Myrtle Avenue,11385
60,273,"[-74.0011966, 40.7191558]",Canal Street,10013
61,557,"[-73.927454, 40.818949]",Grand Concourse,10451
62,1590,"[-73.83649799999999, 40.8431399]",Hutchinson River Parkway,10461
63,3500,"[-83.8858832, 30.6928791]",Boston Post Road,10469
64,2655,"[-74.1660553, 40.5823983]",Richmond Avenue,10314
65,734,"[-73.9425072, 40.7009227]",Broadway,11206
66,13110,"[-73.82097290000002, 40.70352949999999]",Hillside Avenue,11418
67,1727,"[-73.9570007, 40.664132]",Bedford Avenue,11225
68,106,"[-74.0070071, 40.7097029]",Fulton Street,10038
69,3901,"[-74.1638354, 40.543263]",Richmond Avenue,10312
70,1940,"[-73.88989529999999, 40.6584836]",Linden Boulevard,11207
71,8002,"[-73.91848399999999, 40.64053699999999]",Foster Avenue,11236
72,3301,"[-73.9815859, 40.6468149]",Fort Hamilton Parkway,11218
73,417,"[-73.98840009999999, 40.6921112]",Fulton Street,11201
74,3310,"[-73.9326907, 40.7641794]",21St St,11106
75,6007,"[-73.8978707, 40.8907127]",Broadway,10471
76,103-19,"[-73.86210299999999, 40.749951]",Roosevelt Avenue,11368
77,325,"[-74.0050107, 40.7161534]",Broadway,10007
78,1297,"[-73.94934099999999, 40.680566]",Fulton Street,11216
79,10502,"[-73.83403600000001, 40.678521]",Rockaway Blvd,11417

In [91]:
from pandas.io.json import json_normalize

def prepareForTableau(bks):
    locations = json_normalize(bks["address"])
    gelocs = locations.apply(lambda e: [e["coord"][0],e["coord"][1]], result_type="expand", axis=1)
    clean_df = pd.concat([bks["restaurant_id"],locations[["street","zipcode"]],gelocs], axis=1)
    clean_df.rename({1:"lat",0:"long"}, axis=1, inplace=True)
    return clean_df

In [92]:
bks = pd.DataFrame(db.restaurants.find({"name":"Burger King"}))
bks.head()

clean_df = prepareForTableau(bks)
display(clean_df.head())

  restaurant_id              street zipcode       long        lat
0      40370167  Northern Boulevard   11361 -73.759249  40.761574
1      40370238  Northern Boulevard   11377 -73.897071  40.754390
2      40370239  Northern Boulevard   11354 -73.820668  40.764744
3      40370916     Hillside Avenue   11004 -73.700739  40.738955
4      40370917       Church Avenue   11236 -73.919511  40.652764

In [90]:
clean_df.to_json("bk_rests.json",orient="records")

In [102]:

nearLocation = {
    "lng": 40.717432,
    "lat": -73.994943
}

bks = pd.DataFrame(db.restaurants.find({
    "address.coord": {
     "$near": {
       "$geometry": {
          "type": "Point" ,
          "coordinates": [ nearLocation["lat"] , nearLocation["lng"] ]
       },
       "$maxDistance": 2000, # In meters
     }
   }
}))
bks.head()

OperationFailure: error processing query: ns=restaurants.restaurantsTree: GEONEAR  field=address.coord maxdist=2000 isNearSphere=0
Sort: {}
Proj: {}
 planner returned error: unable to find index for $geoNear query

In [101]:
clean_df = prepareForTableau(bks)
display(clean_df.head())
clean_df.to_json("bk_rests_filtered.json",orient="records")

  restaurant_id           street zipcode       long        lat
0      50011542           Bowery   10002 -73.995023  40.717325
1      41696848    Hester Street   10002 -73.994962  40.717214
2      41137336  Chrystie Street   10002 -73.994584  40.717339
3      41615445  Chrystie Street   10002 -73.994584  40.717339
4      41537020  Chrystie Street   10002 -73.994526  40.717451